[Marama] - The Conversation News Scrapper.json
{"createdAt":"2025-07-19T09:56:02.435Z","updatedAt":"2025-07-30T09:57:49.607Z","id":"rU0BfSkd0HLGgvaA","name":"[Marama] - The Conversation News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://theconversation.com/nz/environment/articles.atom"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","WebsiteName":" The Conversation","json":"={{ $json }}","priority":5},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13040,3968],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13296,3856],"id":"06edeeb1-3276-4d02-991e-709c64581ab7","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-12T00:00:03.000Z"}},"meta":null,"pinData":{"RSS Feed Trigger":[{"json":{"title":"How the QAnon movement entered mainstream politics – and why the silence on Epstein files matters","link":"https://theconversation.com/how-the-qanon-movement-entered-mainstream-politics-and-why-the-silence-on-epstein-files-matters-261316","pubDate":"2025-07-19T13:00:00.000Z","author":"Art Jipson, Associate Professor of Sociology, University of Dayton","content":"<figure><img src=\"https://images.theconversation.com/files/680723/original/file-20250717-79-mco4zo.jpg?ixlib=rb-4.1.0&amp;rect=0%2C290%2C5568%2C3132&amp;q=45&amp;auto=format&amp;w=496&amp;fit=clip\" /><figcaption><span class=\"caption\">QAnon supporters wait for Donald Trump to speak at a campaign rally at Atlantic Aviation on September 22, 2020, in Moon Township, Pennsylvania.</span> <span class=\"attribution\"><a class=\"source\" href=\"https://www.gettyimages.ch/detail/nachrichtenfoto/woman-holds-up-a-qanon-sign-to-the-media-as-attendees-nachrichtenfoto/1228658993?adppopup=true\">eff Swensen/Getty Images</a></span></figcaption></figure><p>The Justice Department <a href=\"https://www.nytimes.com/2025/07/18/nyregion/trump-epstein-files-unsealing-request.html\">asked a federal court on July 18, 2025</a>, to unseal grand jury transcripts in Jeffrey Epstein’s case. The direction from President Donald Trump came after weeks of frustration among some far-right groups over his administration’s refusal to <a href=\"https://www.vox.com/on-the-right-newsletter/419784/trump-epstein-maga-rebellion-populism\">release the complete and unredacted “Epstein files</a>.” </p>\n\n<p>Epstein, a wealthy financier with high-profile connections, was <a href=\"https://www.justice.gov/usao-sdny/pr/jeffrey-epstein-charged-manhattan-federal-court-sex-trafficking-minors\">arrested in 2019 on sex trafficking charges</a> and later <a href=\"https://www.npr.org/2023/06/27/1184380805/jeffrey-epstein-suicide-department\">died by suicide in a Manhattan jail awaiting trial</a>.</p>\n\n<p>In early 2025, a federal court unsealed portions of the court documents. While names of some of the alleged clients and victims were released, many were redacted or withheld. </p>\n\n<p>Epstein’s arrest and death became <a href=\"https://www.theguardian.com/us-news/2025/jul/15/trump-epstein-files-maga\">a central focus for QAnon followers</a>, who saw them as proof of a hidden global elite engaged in child trafficking and protected by powerful institutions. The release – or withholding – of the Epstein files is often cited within QAnon movement circles as evidence of a broader cover-up by the so-called “deep state.”</p>\n\n<p>Some followers of the MAGA – <a href=\"https://www.usnews.com/news/politics/articles/2022-02-24/a-quarter-of-republicans-believe-central-views-of-qanon-conspiracy-movement\">Make America Great Again – movement</a>  and the Republican Party believe in the false claim that the United States is secretly controlled by a cabal of elites who are pedophiles, sex traffickers and satanists. </p>\n\n<p>Over time, what started as <a href=\"https://www.adl.org/resources/backgrounder/qanon\">a baseless conspiracy</a> on obscure platforms has migrated into the mainstream. It has influenced rhetoric and policy debates, and even reshaped the American political landscape. The foundational belief of many of the QAnon followers is that Trump is a heroic figure fighting the elite pedophile ring. </p>\n\n<p>Trump’s attempts at downplaying or obstructing the very disclosures they believe would validate their worldview has led to confusion. To some, the delay in the release of the files <a href=\"https://www.wral.com/story/maga-media-s-conspiracy-theories-put-trump-in-power-and-now-they-re-coming-back-to-bite-him/22085489/\">feels like a betrayal</a>, or even the possibility of his wrongdoing. Others are trying to reinterpret Trump’s actions through increasingly <a href=\"https://www.npr.org/2025/07/16/nx-s1-5467325/how-are-qanon-conspiracy-theorists-reacting-to-trumps-handling-of-the-epstein-case\">baseless conspiracy logic</a>. </p>\n\n<p>Trump has publicly dismissed demands for the <a href=\"https://apnews.com/article/trump-supporters-epstein-sex-trafficking-investigation-bondi-47370e63060d79af64b0b8ac70b970a4\">full release of the Epstein Files</a> as a “hoax.” He has also made false claims. On July 15, 2025, <a href=\"https://www.the-independent.com/news/world/americas/us-politics/trump-epstein-files-obama-comey-b2789624.html\">Trump said</a>: “And I would say that, you know, these files were made up by Comey. They were made up by Obama.” </p>\n\n<p>As a <a href=\"https://www.aacu.org/podcasts/academicminute/2025-04-art-jipson-university-of-dayton-understanding-extremism\">scholar who studies extremism</a>, I know that the movement views Trump as a mythological figure and it interprets Trump’s actions to fit this overarching narrative – an elasticity which makes the movement both durable and dangerous.</p>\n\n<h2>From Pizzagate to QAnon</h2>\n\n<p>The QAnon movement began with the <a href=\"https://www.bbc.com/news/blogs-trending-38156985\">Pizzagate conspiracy theory</a> in 2016, which falsely claimed that high-ranking Democrats were operating a child sex trafficking ring out of a Washington, D.C., pizzeria. The baseless theory gained enough online momentum that a man armed with an assault rifle stormed the restaurant, <a href=\"https://www.washingtonpost.com/local/pizzagate-from-rumor-to-hashtag-to-gunfire-in-dc/2016/12/06/4c7def50-bbd4-11e6-94ac-3d324840106c_story.html\">seeking to “free the children</a>.”</p>\n\n<p>In 2017, an anonymous figure called “Q” began posting cryptic messages on message boards like 4chan and 8kun. The baseless accusations of a global network of elites involved in controlling global institutions, <a href=\"https://www.cnn.com/2020/07/03/us/what-is-qanon-trnd/index.html\">including governments, businesses, and the media</a>, as well as operating a <a href=\"https://www.politico.com/news/magazine/2024/01/09/why-maga-is-obsessed-with-jeffrey-epstein-00134394\">child trafficking and ritual abuse</a>, were central to the QAnon movement’s narrative.</p>\n\n<figure class=\"align-center zoomable\">\n            <a href=\"https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=1000&amp;fit=clip\"><img alt=\"Two people holding up cellphones with messages 'Ask the Q' and 'We are the Q.'\" src=\"https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip\" srcset=\"https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=600&amp;h=407&amp;fit=crop&amp;dpr=1 600w, https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=30&amp;auto=format&amp;w=600&amp;h=407&amp;fit=crop&amp;dpr=2 1200w, https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=15&amp;auto=format&amp;w=600&amp;h=407&amp;fit=crop&amp;dpr=3 1800w, https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;h=511&amp;fit=crop&amp;dpr=1 754w, https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=30&amp;auto=format&amp;w=754&amp;h=511&amp;fit=crop&amp;dpr=2 1508w, https://images.theconversation.com/files/680745/original/file-20250717-56-o6vz8f.jpg?ixlib=rb-4.1.0&amp;q=15&amp;auto=format&amp;w=754&amp;h=511&amp;fit=crop&amp;dpr=3 2262w\" sizes=\"(min-width: 1466px) 754px, (max-width: 599px) 100vw, (min-width: 600px) 600px, 237px\"></a>\n            <figcaption>\n              <span class=\"caption\">Supporters of President Donald Trump with messages referring to the QAnon conspiracy theory at a campaign rally at Las Vegas Convention Center on February 21, 2020.</span>\n              <span class=\"attribution\"><a class=\"source\" href=\"https://www.gettyimages.ch/detail/nachrichtenfoto/supporters-of-president-donald-trump-hold-up-their-nachrichtenfoto/1207859155?adppopup=true\">Mario Tama/Getty Images</a></span>\n            </figcaption>\n          </figure>\n\n<p>The movement has recruited followers through language like “<a href=\"https://www.nbcnews.com/tech/tech-news/qanon-looms-behind-nationwide-rallies-viral-hashtags-n1237722\">Save the Children</a>,” to mobilize around issues of child trafficking. </p>\n\n<figure class=\"align-center zoomable\">\n            <a href=\"https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=1000&amp;fit=clip\"><img alt=\"A poster with the slogan 'Stop Child Trafficking' in big letters, with smaller ones saying 'pizzagate' and other phrases.\" src=\"https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip\" srcset=\"https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=600&amp;h=400&amp;fit=crop&amp;dpr=1 600w, https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=30&amp;auto=format&amp;w=600&amp;h=400&amp;fit=crop&amp;dpr=2 1200w, https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=15&amp;auto=format&amp;w=600&amp;h=400&amp;fit=crop&amp;dpr=3 1800w, https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;h=503&amp;fit=crop&amp;dpr=1 754w, https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=30&amp;auto=format&amp;w=754&amp;h=503&amp;fit=crop&amp;dpr=2 1508w, https://images.theconversation.com/files/680739/original/file-20250717-66-b7xq1.jpg?ixlib=rb-4.1.0&amp;q=15&amp;auto=format&amp;w=754&amp;h=503&amp;fit=crop&amp;dpr=3 2262w\" sizes=\"(min-width: 1466px) 754px, (max-width: 599px) 100vw, (min-width: 600px) 600px, 237px\"></a>\n            <figcaption>\n              <span class=\"caption\">The QAnon movement recruits new followers through appeals to stop child trafficking.</span>\n              <span class=\"attribution\"><a class=\"source\" href=\"https://www.gettyimages.ch/detail/nachrichtenfoto/protestor-holds-a-sign-during-a-save-our-children-nachrichtenfoto/1228996391?adppopup=true\">Hollie Adams/Getty Images</a></span>\n            </figcaption>\n          </figure>\n\n<p>Many QAnon adherents, particularly women, were drawn to the movement <a href=\"https://clcjbooks.rutgers.edu/books/pastels-and-pedophiles-inside-the-mind-of-qanon/\">through such appeals to child protection</a>. According to psychologists <a href=\"https://www.psychologytoday.com/us/contributors/sophia-moskalenko-phd\">Sophia Moskalenko</a> and <a href=\"https://iccae.ku.edu/dr-mia-bloom\">Mia Bloom</a>, this type of appeal taps into powerful emotional instincts,  making conspiracy theories like QAnon more persuasive and harder to dislodge, <a href=\"https://clcjbooks.rutgers.edu/books/pastels-and-pedophiles-inside-the-mind-of-qanon/\">even in the face of contradictory evidence</a>.</p>\n\n<h2>QAnon movement’s rise</h2>\n\n<p>QAnon followers perceived Trump as a messianic figure working to expose this cabal in a climactic reckoning known as “<a href=\"https://www.nytimes.com/article/what-is-qanon.html\">The Storm</a>” – a moment when mass arrests would finally bring justice. </p>\n\n<p>They claimed that this moment would eventually bring about a “Great Awakening,” a reference to the religious revivalist movements of the 18th and 19th centuries. In this context the phrase described the <a href=\"https://www.penguinrandomhouse.com/books/676746/the-storm-is-upon-us-by-mike-rothschild/\">supposed political and spiritual enlightenment</a> that would follow “The Storm” – a moment of mass realization when people would “wake up” to the truth about the “<a href=\"https://www.hbomax.com/shows/q-into-the-storm/031763fb-40bb-4e47-8a71-123f7a31ac09\">deep state</a>.”</p>\n\n<figure class=\"align-center zoomable\">\n            <a href=\"https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=1000&amp;fit=clip\"><img alt=\"A mobile device with an image of Donald Trump alongside a QAnon sticker using an American flag.\" src=\"https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;fit=clip\" srcset=\"https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=600&amp;h=402&amp;fit=crop&amp;dpr=1 600w, https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=30&amp;auto=format&amp;w=600&amp;h=402&amp;fit=crop&amp;dpr=2 1200w, https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=15&amp;auto=format&amp;w=600&amp;h=402&amp;fit=crop&amp;dpr=3 1800w, https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=45&amp;auto=format&amp;w=754&amp;h=505&amp;fit=crop&amp;dpr=1 754w, https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=30&amp;auto=format&amp;w=754&amp;h=505&amp;fit=crop&amp;dpr=2 1508w, https://images.theconversation.com/files/680741/original/file-20250717-56-dl19gu.jpg?ixlib=rb-4.1.0&amp;q=15&amp;auto=format&amp;w=754&amp;h=505&amp;fit=crop&amp;dpr=3 2262w\" sizes=\"(min-width: 1466px) 754px, (max-width: 599px) 100vw, (min-width: 600px) 600px, 237px\"></a>\n            <figcaption>\n              <span class=\"caption\">Trump reposted an image of himself wearing a Q lapel pin overlaid with the words ‘The Storm is Coming.’</span>\n              <span class=\"attribution\"><a class=\"source\" href=\"https://www.gettyimages.ch/detail/nachrichtenfoto/in-this-photo-illustration-donald-trumps-truth-social-nachrichtenfoto/1243276677?adppopup=true**\">Olivier Douliery/AFP via Getty Images</a></span>\n            </figcaption>\n          </figure>\n\n<p>In 2019, the FBI identified QAnon as a domestic terrorism threat, and major social media platforms <a href=\"https://www.theguardian.com/us-news/2019/aug/01/conspiracy-theories-fbi-qanon-extremism\">began banning related content</a>, but by then, QAnon had bled into mainstream conservative politics. Q-endorsing candidates, such as Marjorie Taylor Greene, <a href=\"https://www.nytimes.com/2020/11/03/us/politics/qanon-candidates-marjorie-taylor-greene.html\">ran for and won elected office</a> a year later.</p>\n\n<h2>Trump and QAnon</h2>\n\n<p>During Trump’s first administration – from 2017 to 2021 – <a href=\"https://www.pbs.org/newshour/politics/how-trump-spent-years-stoking-dark-theories-and-why-hes-facing-epstein-case-blowback-now\">the QAnon movement flourished</a>. The posts from Q claimed to reveal insider knowledge of a secret war being waged by the president, often in coordination with the military, against the powerful elite. </p>\n\n<p>Trump never explicitly endorsed the movement, but he did <a href=\"https://www.npr.org/2020/08/19/904055593/trump-addressing-far-right-qanon-conspiracy-offers-praise-for-its-followers\">little to distance himself from it</a>.</p>\n\n<p>His administration also included figures, like former National Security Adviser Michael Flynn, who <a href=\"https://theintercept.com/2021/06/27/qanon-michael-flynn-digital-soldiers/\">openly interacted with Q content online</a>.</p>\n\n<p>Trump’s rhetoric, especially during the COVID-19 pandemic and the 2020 election, gave new life to QAnon narratives. When he <a href=\"https://apnews.com/article/trump-voting-elections-prosecute-dangerous-rhetoric-2ed9908e82075705f4b00ecfc93fa3fa\">questioned the integrity of the electoral process</a>, QAnon followers interpreted it as confirmation of the deep state’s meddling. </p>\n\n<p>However, after Trump’s loss to Joe Biden in the 2020 presidential race, QAnon followers revised their original prophecy to maintain belief in “The Storm” and “The Great Awakening.” Some claimed the defeat was part of a larger secret plan, with Biden’s presidency <a href=\"https://www.pbs.org/newshour/nation/checked-by-reality-some-qanon-supporters-seek-a-way-out\">serving as a cover for exposing the deep state</a>. Some believed Trump remained the true president behind the scenes, while others reframed the awakening as a <a href=\"https://doi.org/10.1177/08969205241228744\">spiritual rather than political event</a>. </p>\n\n<p>Indeed, by 2020, <a href=\"https://fairelectionscenter.org/media/gop-built-up-qanon-backer-rep-marjorie-taylor-greene-but-now-are-they-afraid-of-what-they-created/\">several congressional candidates openly embraced</a> or showed sympathy for the QAnon movement.</p>\n\n<p>At various campaign rallies in 2022 and after Trump used <a href=\"https://www.nytimes.com/2022/09/18/us/politics/trump-rally-qanon-music.html\">the movement’s symbolism</a>. On Truth Social, his social media platform, he retweeted Q-affiliated accounts, and praised QAnon supporters as “<a href=\"https://www.nytimes.com/2020/08/19/us/politics/trump-qanon-conspiracy-theories.html\">people who love our country</a>.” That same year he reposted an image of himself wearing a Q lapel pin overlaid with the words “<a href=\"https://apnews.com/article/technology-donald-trump-conspiracy-theories-government-and-politics-db50c6f709b1706886a876ae6ac298e2?\">The Storm is Coming</a>.”</p>\n\n<h2>After the 2020 elections</h2>\n\n<p>Trump’s departure from the White House in January 2021 created an <a href=\"https://www.bbc.com/news/blogs-trending-55746304\">existential crisis for the QAnon movement</a>. Predictions that he would declare martial law or arrest Joe Biden and other Democrats on Inauguration Day <a href=\"https://www.vice.com/en/article/qanon-still-believes-trump-will-declare-martial-law-and-stay-in-office/\">failed to materialize</a>. Q’s posts also stopped, leaving many followers adrift.</p>\n\n<p>Some abandoned the theory. Others rationalized the failed predictions or <a href=\"https://www.washingtonpost.com/technology/2021/01/21/qanon-faithful-biden-trump/\">embraced new conspiracy narratives</a>, such as the belief that Trump was still secretly in charge or that the military would soon act to reinstate him. </p>\n\n<p>Some QAnon communities merged with or were absorbed into broader <a href=\"https://www.npr.org/2020/12/30/951095644/even-if-its-bonkers-poll-finds-many-believe-qanon-and-other-conspiracy-theories\">anti-vaccine</a>, <a href=\"https://jaapl.org/content/early/2022/02/18/JAAPL.210053-21\">anti-globalist</a>, and <a href=\"https://contendingmodernities.nd.edu/theorizing-modernities/qanon-evangelical-apocalypse/\">Christian nationalist</a> movements.</p>\n\n<h2>How big is the movement?</h2>\n\n<p>Estimating the number of QAnon believers is difficult because many individuals do not openly identify with the movement, and those who do often hold a range of loosely connected or partial beliefs rather than adhering to a consistent or uniform ideology. Not everyone who shares a Q meme or echoes a Q talking point identifies as being part of the movement. </p>\n\n<p>That said, surveys by groups like the 2024 Public Religion Research Institute and the Associated Press have found that 15–20% of Americans believe in some of QAnon’s core claims, such as the existence of a secret group of <a href=\"https://prri.org/spotlight/the-rise-and-impact-of-q-the-2024-election-from-the-view-of-qanon-believers/\">Satan-worshipping elites controlling the government</a>. </p>\n\n<p>Among Republican voters, <a href=\"https://prri.org/spotlight/the-rise-and-impact-of-q-the-2024-election-from-the-view-of-qanon-believers/\">the number is often higher</a>. </p>\n\n<p>This does not mean all these people are hardcore QAnon adherents, but it does show how far the narrative, or parts of it, has seeped into mainstream thinking.</p>\n\n<h2>Epstein as evidence of ‘the cabal’</h2>\n\n<p>The Trump administration’s failure to disclose the information in Epstein files has fueled internal confusion, disillusionment and even radicalization within the movement. </p>\n\n<p>For some QAnon believers, this failure was a turning point: if Trump – <a href=\"https://www.kirkusreviews.com/book-reviews/mike-rothschild/the-storm-is-upon-us/\">once seen as the hero</a> in the conspiracy narrative – would not or could not reveal the truth, then the “deep state” must be more entrenched than imagined.</p>\n\n<p>At the same time, frustrations have grown within MAGA and the QAnon movement’s spaces. Some see it as a failure to fulfill one of his most important promises: <a href=\"https://www.newsweek.com/maga-donald-trump-jeffrey-epstein-conspiracy-theories-2097180\">exposing elite pedophiles</a>. Others believe the delay is strategic, another example of “the plan” <a href=\"https://www.pbs.org/newshour/politics/what-to-know-about-the-maga-faithfuls-anger-over-trump-and-the-epstein-case\">requiring more patience</a>. </p>\n\n<p>The QAnon movement continues to evolve, even as its central figure hedges and hesitates, showing how potent myths can be in times of uncertainty. In my view, understanding why this belief continues to gain traction is essential for understanding the current state of American democracy.</p><img src=\"https://counter.theconversation.com/content/261316/count.gif\" alt=\"The Conversation\" width=\"1\" height=\"1\" />\n<p class=\"fine-print\"><em><span>Art Jipson does not work for, consult, own shares in or receive funding from any company or organization that would benefit from this article, and has disclosed no relevant affiliations beyond their academic appointment.</span></em></p>","contentSnippet":"QAnon supporters wait for Donald Trump to speak at a campaign rally at Atlantic Aviation on September 22, 2020, in Moon Township, Pennsylvania. eff Swensen/Getty Images\nThe Justice Department asked a federal court on July 18, 2025, to unseal grand jury transcripts in Jeffrey Epstein’s case. The direction from President Donald Trump came after weeks of frustration among some far-right groups over his administration’s refusal to release the complete and unredacted “Epstein files.” \nEpstein, a wealthy financier with high-profile connections, was arrested in 2019 on sex trafficking charges and later died by suicide in a Manhattan jail awaiting trial.\nIn early 2025, a federal court unsealed portions of the court documents. While names of some of the alleged clients and victims were released, many were redacted or withheld. \nEpstein’s arrest and death became a central focus for QAnon followers, who saw them as proof of a hidden global elite engaged in child trafficking and protected by powerful institutions. The release – or withholding – of the Epstein files is often cited within QAnon movement circles as evidence of a broader cover-up by the so-called “deep state.”\nSome followers of the MAGA – Make America Great Again – movement  and the Republican Party believe in the false claim that the United States is secretly controlled by a cabal of elites who are pedophiles, sex traffickers and satanists. \nOver time, what started as a baseless conspiracy on obscure platforms has migrated into the mainstream. It has influenced rhetoric and policy debates, and even reshaped the American political landscape. The foundational belief of many of the QAnon followers is that Trump is a heroic figure fighting the elite pedophile ring. \nTrump’s attempts at downplaying or obstructing the very disclosures they believe would validate their worldview has led to confusion. To some, the delay in the release of the files feels like a betrayal, or even the possibility of his wrongdoing. Others are trying to reinterpret Trump’s actions through increasingly baseless conspiracy logic. \nTrump has publicly dismissed demands for the full release of the Epstein Files as a “hoax.” He has also made false claims. On July 15, 2025, Trump said: “And I would say that, you know, these files were made up by Comey. They were made up by Obama.” \nAs a scholar who studies extremism, I know that the movement views Trump as a mythological figure and it interprets Trump’s actions to fit this overarching narrative – an elasticity which makes the movement both durable and dangerous.\nFrom Pizzagate to QAnon\nThe QAnon movement began with the Pizzagate conspiracy theory in 2016, which falsely claimed that high-ranking Democrats were operating a child sex trafficking ring out of a Washington, D.C., pizzeria. The baseless theory gained enough online momentum that a man armed with an assault rifle stormed the restaurant, seeking to “free the children.”\nIn 2017, an anonymous figure called “Q” began posting cryptic messages on message boards like 4chan and 8kun. The baseless accusations of a global network of elites involved in controlling global institutions, including governments, businesses, and the media, as well as operating a child trafficking and ritual abuse, were central to the QAnon movement’s narrative.\n\n            \n              Supporters of President Donald Trump with messages referring to the QAnon conspiracy theory at a campaign rally at Las Vegas Convention Center on February 21, 2020.\n              Mario Tama/Getty Images\n            \n          \n\nThe movement has recruited followers through language like “Save the Children,” to mobilize around issues of child trafficking. \n\n            \n              The QAnon movement recruits new followers through appeals to stop child trafficking.\n              Hollie Adams/Getty Images\n            \n          \n\nMany QAnon adherents, particularly women, were drawn to the movement through such appeals to child protection. According to psychologists Sophia Moskalenko and Mia Bloom, this type of appeal taps into powerful emotional instincts,  making conspiracy theories like QAnon more persuasive and harder to dislodge, even in the face of contradictory evidence.\nQAnon movement’s rise\nQAnon followers perceived Trump as a messianic figure working to expose this cabal in a climactic reckoning known as “The Storm” – a moment when mass arrests would finally bring justice. \nThey claimed that this moment would eventually bring about a “Great Awakening,” a reference to the religious revivalist movements of the 18th and 19th centuries. In this context the phrase described the supposed political and spiritual enlightenment that would follow “The Storm” – a moment of mass realization when people would “wake up” to the truth about the “deep state.”\n\n            \n              Trump reposted an image of himself wearing a Q lapel pin overlaid with the words ‘The Storm is Coming.’\n              Olivier Douliery/AFP via Getty Images\n            \n          \n\nIn 2019, the FBI identified QAnon as a domestic terrorism threat, and major social media platforms began banning related content, but by then, QAnon had bled into mainstream conservative politics. Q-endorsing candidates, such as Marjorie Taylor Greene, ran for and won elected office a year later.\nTrump and QAnon\nDuring Trump’s first administration – from 2017 to 2021 – the QAnon movement flourished. The posts from Q claimed to reveal insider knowledge of a secret war being waged by the president, often in coordination with the military, against the powerful elite. \nTrump never explicitly endorsed the movement, but he did little to distance himself from it.\nHis administration also included figures, like former National Security Adviser Michael Flynn, who openly interacted with Q content online.\nTrump’s rhetoric, especially during the COVID-19 pandemic and the 2020 election, gave new life to QAnon narratives. When he questioned the integrity of the electoral process, QAnon followers interpreted it as confirmation of the deep state’s meddling. \nHowever, after Trump’s loss to Joe Biden in the 2020 presidential race, QAnon followers revised their original prophecy to maintain belief in “The Storm” and “The Great Awakening.” Some claimed the defeat was part of a larger secret plan, with Biden’s presidency serving as a cover for exposing the deep state. Some believed Trump remained the true president behind the scenes, while others reframed the awakening as a spiritual rather than political event. \nIndeed, by 2020, several congressional candidates openly embraced or showed sympathy for the QAnon movement.\nAt various campaign rallies in 2022 and after Trump used the movement’s symbolism. On Truth Social, his social media platform, he retweeted Q-affiliated accounts, and praised QAnon supporters as “people who love our country.” That same year he reposted an image of himself wearing a Q lapel pin overlaid with the words “The Storm is Coming.”\nAfter the 2020 elections\nTrump’s departure from the White House in January 2021 created an existential crisis for the QAnon movement. Predictions that he would declare martial law or arrest Joe Biden and other Democrats on Inauguration Day failed to materialize. Q’s posts also stopped, leaving many followers adrift.\nSome abandoned the theory. Others rationalized the failed predictions or embraced new conspiracy narratives, such as the belief that Trump was still secretly in charge or that the military would soon act to reinstate him. \nSome QAnon communities merged with or were absorbed into broader anti-vaccine, anti-globalist, and Christian nationalist movements.\nHow big is the movement?\nEstimating the number of QAnon believers is difficult because many individuals do not openly identify with the movement, and those who do often hold a range of loosely connected or partial beliefs rather than adhering to a consistent or uniform ideology. Not everyone who shares a Q meme or echoes a Q talking point identifies as being part of the movement. \nThat said, surveys by groups like the 2024 Public Religion Research Institute and the Associated Press have found that 15–20% of Americans believe in some of QAnon’s core claims, such as the existence of a secret group of Satan-worshipping elites controlling the government. \nAmong Republican voters, the number is often higher. \nThis does not mean all these people are hardcore QAnon adherents, but it does show how far the narrative, or parts of it, has seeped into mainstream thinking.\nEpstein as evidence of ‘the cabal’\nThe Trump administration’s failure to disclose the information in Epstein files has fueled internal confusion, disillusionment and even radicalization within the movement. \nFor some QAnon believers, this failure was a turning point: if Trump – once seen as the hero in the conspiracy narrative – would not or could not reveal the truth, then the “deep state” must be more entrenched than imagined.\nAt the same time, frustrations have grown within MAGA and the QAnon movement’s spaces. Some see it as a failure to fulfill one of his most important promises: exposing elite pedophiles. Others believe the delay is strategic, another example of “the plan” requiring more patience. \nThe QAnon movement continues to evolve, even as its central figure hedges and hesitates, showing how potent myths can be in times of uncertainty. In my view, understanding why this belief continues to gain traction is essential for understanding the current state of American democracy.\n\nArt Jipson does not work for, consult, own shares in or receive funding from any company or organization that would benefit from this article, and has disclosed no relevant affiliations beyond their academic appointment.","summary":"The foundational belief of many of the QAnon followers is that Donald Trump is the heroic figure fighting the elite pedophile ring.","id":"tag:theconversation.com,2011:article/261316","isoDate":"2025-07-19T13:00:00.000Z"}},{"json":{"title":"Liberals easily win most seats at Tasmanian election, but Labor may form government","link":"https://theconversation.com/liberals-easily-win-most-seats-at-tasmanian-election-but-labor-may-form-government-261255","pubDate":"2025-07-19T12:49:23.000Z","author":"Adrian Beaumont, Election Analyst (Psephologist) at The Conversation; and Honorary Associate, School of Mathematics and Statistics, The University of Melbourne","content":"<p>With 63% of enrolled voters counted in today’s Tasmanian state election, <a href=\"https://pollbludger.net/tas2025/Results/index.htm\">The Poll Bludger is projecting</a> that the final results will give the Liberals 39.7% of the statewide vote (up 3.0% since the March 2024 election), Labor just 25.7% (down 3.1%), the Greens 14.1% (up 0.2%), the Shooters 3.2% (up 0.9%), the Nationals 1.7% and independents 15.4%.</p>\n\n<p>Tasmania uses the proportional Hare-Clark system for its lower house elections. As <a href=\"https://theconversation.com/2-polls-have-tasmania-headed-for-another-hung-parliament-but-disagree-on-which-party-is-ahead-260062\">described previously</a>, the five seats Tasmania has at federal elections each return seven members for a total of 35 MPs. A quota for election is one-eighth of the vote, or 12.5%.</p>\n\n<p>The main Poll Bludger page gives projected quotas for each electorate for the Liberals, Labor and the Greens. The Liberals have just under four quotas in Braddon, over three in Bass and Lyons and over two in Clark and Franklin, suggesting 14 definite seats with more possible.</p>\n\n<p>Labor is just above or just below two quotas in all five seats, and should win ten seats. The Greens have 1.8 quotas in Clark, over one in each of Franklin, Bass and Lyons and 0.6 in Braddon, so they should win at least five seats.</p>\n\n<p>Of the independents, environmental campaigner Craig Garland has 0.8 quotas in <a href=\"https://pollbludger.net/tas2025/Results/HA.htm?s=Braddon\">Braddon</a> and will be re-elected. Left-wing independent Kristie Johnston has 1.3 quotas in <a href=\"https://pollbludger.net/tas2025/Results/HA.htm?s=Clark\">Clark</a>, and will also be re-elected. In <a href=\"https://pollbludger.net/tas2025/Results/HA.htm?s=Franklin\">Franklin</a>, both former Labor leader David O'Byrne and Teal Peter George (0.9 and 1.3 quotas respectively) have been elected.</p>\n\n<p>In <a href=\"https://pollbludger.net/tas2025/Results/HA.htm?s=Lyons\">Lyons</a>, the Shooters candidate, with 0.6 quotas, is well positioned to win the final seat. In <a href=\"https://pollbludger.net/tas2025/Results/HA.htm?s=Bass\">Bass</a>, it appears more complex, but the final seat is likely to go to either the Liberals or the Shooters. None of the three former Jacqui Lambie Network MPs who won seats at the March 2024 election have been re-elected.</p>\n\n<p>Overall, the right-wing parties (Liberals and Shooters) are likely to win 16 of the 35 seats, but Labor, the Greens and left-wing independents are likely to win 19 seats. So even though the Liberals will win the most seats, Labor may be able to cobble together a government, but only if they cooperate with the Greens.</p>\n\n<p>This overall result assumes a 4–3 right split in Bass, Braddon and Lyons, but a 5–2 left split in both Clark and Franklin. In Franklin, the Liberals would be unlucky not to win three with 2.7 quotas, but Labor has 1.8 quotas and preferences from George should assist Labor.</p>\n\n<p>Many pre-poll votes have not yet been counted, and postals won’t be counted until next week. Postals are likely to assist the Liberals. The postal effect should be accounted for by The Poll Bludger’s projections.</p>\n\n<h2>YouGov poll badly understated Liberals</h2>\n\n<p>A late <a href=\"https://au.yougov.com/politics/articles/52611-tasmanians-favour-dean-winter-for-premier-in-event-of-hung-parliament\">YouGov poll</a>, conducted July 7–18 from a sample of 931, gave the Liberals 31% of the statewide vote (steady <a href=\"https://au.yougov.com/politics/articles/52457-labor-leads-in-tasmania-as-health-and-housing-dominate-voter-concerns\">since June</a>), Labor 30% (down four), the Greens 16% (up three), the Nationals 2%, the Shooters 1% and independents 20% (up two).</p>\n\n<p>A two-party vote is not applicable in Tasmania’s proportional system, but this poll gave Labor a 55–45 lead over the Liberals. Labor leader Dean Winter also led Liberal incumbent Jeremy Rockliff as better premier by 55–45. Rockliff was at -19 net approval and Winter at -13.</p>\n\n<p>The only other public Tasmanian polls were conducted by DemosAU. The final DemosAU poll, which I <a href=\"https://theconversation.com/hung-parliament-still-likely-outcome-of-tasmanian-election-with-liberals-well-ahead-of-labor-in-new-poll-261073\">covered on Tuesday</a>, gave the Liberals 34.9%, Labor 24.7%, the Greens 15.6%, the Nationals 2.7%, the Shooters 1.8% and independents 20.3%.</p>\n\n<p>The results show the Liberals headed for about a 14-point vote share win over Labor, so YouGov badly understated them.</p>\n\n<h2>Federal Bradfield legal challenge</h2>\n\n<p>Last Monday the <a href=\"https://www.abc.net.au/news/2025-07-14/bradfield-federal-election-result-liberal-party-legal-action/105382766\">Liberals challenged</a> Teal Nicolette Boele’s 26-vote win in Bradfield at the May 3 federal election to the High Court, acting as the Court of Disputed Returns. Boele will be seated until the court resolves the case.  </p>\n\n<p>The court can either confirm Boele’s win, void the election for this seat and order a byelection in Bradfield, or overturn the result and declare the Liberal candidate elected.</p>\n\n\n\n<p>After the <a href=\"https://www.aec.gov.au/media/2025/06-12.htm\">official declaration</a> of the election on June 12, the 40-day period for legal challenges to the results expires on Tuesday. Tuesday will also be the first sitting of federal parliament since the election, though it could have sat at any time after June 12.</p>\n\n<p>The Bradfield challenge will delay a Labor vs Liberal two-party count in that seat until the challenge is resolved.  It’s likely the Australian Electoral Commission’s (AEC) <a href=\"https://theconversation.com/election-flows-reveal-nearly-90-of-greens-preferenced-labor-ahead-of-coalition-259438\">current estimate in Bradfield</a> is understating Labor, and therefore Labor is being very slightly understated nationally.</p>\n\n<h2>DemosAU polls on democracy in Australia and Queensland federal</h2>\n\n<p><a href=\"https://cdn.theconversation.com/static_files/files/3861/DemosAU_TrustWatch_Iss.2_-_Attitudes_towards_Australia%E2%80%99s_Democracy_and_Voting_System.pdf?1752626611\">DemosAU has emailed me</a> a poll on democracy and voting systems in Australia. This poll was conducted in two waves in May and June from a total sample of 1,713.</p>\n\n<p>By 69–12, respondents thought Australian democracy is something to be proud of, and by 71–19 they did not think Australia needs a PM like Donald Trump.  By 67–15, respondents trusted the AEC. By 53–23, they did not want the number of MPs increased.</p>\n\n<p>Asked for preferred voting system in the House of Representatives, 36% selected compulsory preferential voting (CPV), 27% first past the post (FPTP), 25% optional preferential voting (OPV) and 12% proportional representation (PR).</p>\n\n<p>Head to head, CPV and OPV both beat FPTP by 53–47, while CPV beat OPV by 54–46.  All single-member systems were much preferred to PR.</p>\n\n<p>I previously covered the <a href=\"https://theconversation.com/hung-parliament-still-likely-outcome-of-tasmanian-election-with-liberals-well-ahead-of-labor-in-new-poll-261073\">Queensland state DemosAU</a> poll.  In the <a href=\"https://demosau.com/wp-content/uploads/2025/07/DemosAU-Report-Qld-State-and-Federal-Voting-Intention-July-04-09-2025.pdf\">federal Queensland poll</a>, Labor led by 53–47 (50.6–49.4 to the Coalition at the election). Primary votes were 35% Labor, 31% Coalition, 13% One Nation, 12% Greens and 9% for all Others.</p><img src=\"https://counter.theconversation.com/content/261255/count.gif\" alt=\"The Conversation\" width=\"1\" height=\"1\" />\n<p class=\"fine-print\"><em><span>Adrian Beaumont does not work for, consult, own shares in or receive funding from any company or organisation that would benefit from this article, and has disclosed no relevant affiliations beyond their academic appointment.</span></em></p>","contentSnippet":"With 63% of enrolled voters counted in today’s Tasmanian state election, The Poll Bludger is projecting that the final results will give the Liberals 39.7% of the statewide vote (up 3.0% since the March 2024 election), Labor just 25.7% (down 3.1%), the Greens 14.1% (up 0.2%), the Shooters 3.2% (up 0.9%), the Nationals 1.7% and independents 15.4%.\nTasmania uses the proportional Hare-Clark system for its lower house elections. As described previously, the five seats Tasmania has at federal elections each return seven members for a total of 35 MPs. A quota for election is one-eighth of the vote, or 12.5%.\nThe main Poll Bludger page gives projected quotas for each electorate for the Liberals, Labor and the Greens. The Liberals have just under four quotas in Braddon, over three in Bass and Lyons and over two in Clark and Franklin, suggesting 14 definite seats with more possible.\nLabor is just above or just below two quotas in all five seats, and should win ten seats. The Greens have 1.8 quotas in Clark, over one in each of Franklin, Bass and Lyons and 0.6 in Braddon, so they should win at least five seats.\nOf the independents, environmental campaigner Craig Garland has 0.8 quotas in Braddon and will be re-elected. Left-wing independent Kristie Johnston has 1.3 quotas in Clark, and will also be re-elected. In Franklin, both former Labor leader David O'Byrne and Teal Peter George (0.9 and 1.3 quotas respectively) have been elected.\nIn Lyons, the Shooters candidate, with 0.6 quotas, is well positioned to win the final seat. In Bass, it appears more complex, but the final seat is likely to go to either the Liberals or the Shooters. None of the three former Jacqui Lambie Network MPs who won seats at the March 2024 election have been re-elected.\nOverall, the right-wing parties (Liberals and Shooters) are likely to win 16 of the 35 seats, but Labor, the Greens and left-wing independents are likely to win 19 seats. So even though the Liberals will win the most seats, Labor may be able to cobble together a government, but only if they cooperate with the Greens.\nThis overall result assumes a 4–3 right split in Bass, Braddon and Lyons, but a 5–2 left split in both Clark and Franklin. In Franklin, the Liberals would be unlucky not to win three with 2.7 quotas, but Labor has 1.8 quotas and preferences from George should assist Labor.\nMany pre-poll votes have not yet been counted, and postals won’t be counted until next week. Postals are likely to assist the Liberals. The postal effect should be accounted for by The Poll Bludger’s projections.\nYouGov poll badly understated Liberals\nA late YouGov poll, conducted July 7–18 from a sample of 931, gave the Liberals 31% of the statewide vote (steady since June), Labor 30% (down four), the Greens 16% (up three), the Nationals 2%, the Shooters 1% and independents 20% (up two).\nA two-party vote is not applicable in Tasmania’s proportional system, but this poll gave Labor a 55–45 lead over the Liberals. Labor leader Dean Winter also led Liberal incumbent Jeremy Rockliff as better premier by 55–45. Rockliff was at -19 net approval and Winter at -13.\nThe only other public Tasmanian polls were conducted by DemosAU. The final DemosAU poll, which I covered on Tuesday, gave the Liberals 34.9%, Labor 24.7%, the Greens 15.6%, the Nationals 2.7%, the Shooters 1.8% and independents 20.3%.\nThe results show the Liberals headed for about a 14-point vote share win over Labor, so YouGov badly understated them.\nFederal Bradfield legal challenge\nLast Monday the Liberals challenged Teal Nicolette Boele’s 26-vote win in Bradfield at the May 3 federal election to the High Court, acting as the Court of Disputed Returns. Boele will be seated until the court resolves the case.  \nThe court can either confirm Boele’s win, void the election for this seat and order a byelection in Bradfield, or overturn the result and declare the Liberal candidate elected.\nAfter the official declaration of the election on June 12, the 40-day period for legal challenges to the results expires on Tuesday. Tuesday will also be the first sitting of federal parliament since the election, though it could have sat at any time after June 12.\nThe Bradfield challenge will delay a Labor vs Liberal two-party count in that seat until the challenge is resolved.  It’s likely the Australian Electoral Commission’s (AEC) current estimate in Bradfield is understating Labor, and therefore Labor is being very slightly understated nationally.\nDemosAU polls on democracy in Australia and Queensland federal\nDemosAU has emailed me a poll on democracy and voting systems in Australia. This poll was conducted in two waves in May and June from a total sample of 1,713.\nBy 69–12, respondents thought Australian democracy is something to be proud of, and by 71–19 they did not think Australia needs a PM like Donald Trump.  By 67–15, respondents trusted the AEC. By 53–23, they did not want the number of MPs increased.\nAsked for preferred voting system in the House of Representatives, 36% selected compulsory preferential voting (CPV), 27% first past the post (FPTP), 25% optional preferential voting (OPV) and 12% proportional representation (PR).\nHead to head, CPV and OPV both beat FPTP by 53–47, while CPV beat OPV by 54–46.  All single-member systems were much preferred to PR.\nI previously covered the Queensland state DemosAU poll.  In the federal Queensland poll, Labor led by 53–47 (50.6–49.4 to the Coalition at the election). Primary votes were 35% Labor, 31% Coalition, 13% One Nation, 12% Greens and 9% for all Others.\n\nAdrian Beaumont does not work for, consult, own shares in or receive funding from any company or organisation that would benefit from this article, and has disclosed no relevant affiliations beyond their academic appointment.","summary":"While the final results in Tasmania’s second election in 16 months won’t be known for days, the Liberals are well ahead – but will fall short of a clear majority.","id":"tag:theconversation.com,2011:article/261255","isoDate":"2025-07-19T12:49:23.000Z"}}]},"versionId":"1715ec00-71bc-4d2c-91f5-590ba8c52de7","triggerCount":1,"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}