[Marama] Create new RSS Feed Scrapper.json
{"createdAt":"2025-07-12T04:50:16.834Z","updatedAt":"2025-07-19T09:11:15.435Z","id":"LD6s854cAUeEjo2Y","name":"[Marama] Create new RSS Feed Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"formTitle":"Add new RSS Feed","formDescription":"This form can be used to create RSS feed Scrapper for new news websites","formFields":{"values":[{"fieldLabel":"News Site Name","requiredField":true},{"fieldLabel":"Feed URL","placeholder":"https://grist.org/feed/","requiredField":true}]},"responseMode":"lastNode","options":{}},"type":"n8n-nodes-base.formTrigger","typeVersion":2.2,"position":[0,0],"id":"1589cd01-9c9d-47ef-b87d-644552c1878c","name":"On form submission","webhookId":"c0eb684b-503c-4bdd-9618-4775dca8c9b0"},{"parameters":{"functionCode":"const workflow = {\n  \"name\": \"[Marama] - \" + $input.first().json[\"News Site Name\"] + \" News Scrapper\",\n  \"nodes\": [\n    {\n      \"parameters\": {\n        \"pollTimes\": {\n          \"item\": [\n            {\n              \"mode\": \"everyMinute\"\n            }\n          ]\n        },\n        \"feedUrl\": $input.first().json[\"Feed URL\"]\n      },\n      \"type\": \"n8n-nodes-base.rssFeedReadTrigger\",\n      \"typeVersion\": 1,\n      \"position\": [\n        -13520,\n        3856\n      ],\n      \"id\": \"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4\",\n      \"name\": \"RSS Feed Trigger\"\n    },\n    {\n      \"parameters\": {\n        \"workflowId\": {\n          \"__rl\": true,\n          \"value\": \"iR3f2ACi161PfQjP\",\n          \"mode\": \"list\",\n          \"cachedResultName\": \"[Marama] News-feeder\"\n        },\n        \"workflowInputs\": {\n          \"mappingMode\": \"defineBelow\",\n          \"value\": {\n            \"Content\": \"={{ $json.contentSnippet }}\",\n            \"ContentHTML\": \"={{ $json.content }}\",\n            \"WebsiteName\": \"My Plastic Free Life \",\n            \"json\": \"={{ $json }}\"\n          },\n          \"matchingColumns\": [],\n          \"schema\": [\n            {\n              \"id\": \"Content\",\n              \"displayName\": \"Content\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true\n            },\n            {\n              \"id\": \"ContentHTML\",\n              \"displayName\": \"ContentHTML\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true\n            },\n            {\n              \"id\": \"WebsiteName\",\n              \"displayName\": \"WebsiteName\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true\n            },\n            {\n              \"id\": \"json\",\n              \"displayName\": \"json\",\n              \"required\": false,\n              \"defaultMatch\": false,\n              \"display\": true,\n              \"canBeUsedToMatch\": true\n            }\n          ],\n          \"attemptToConvertTypes\": false,\n          \"convertFieldsToString\": true\n        },\n        \"options\": {}\n      },\n      \"type\": \"n8n-nodes-base.executeWorkflow\",\n      \"typeVersion\": 1.2,\n      \"position\": [\n        -13216,\n        3856\n      ],\n      \"id\": \"077b679f-0c53-49a8-8137-9450f7b596cb\",\n      \"name\": \"Execute Workflow\"\n    }\n  ],\n  \"pinData\": {},\n  \"connections\": {\n    \"RSS Feed Trigger\": {\n      \"main\": [\n        [\n          {\n            \"node\": \"Execute Workflow\",\n            \"type\": \"main\",\n            \"index\": 0\n          }\n        ]\n      ]\n    }\n  },\n  \"active\": true,\n  \"settings\": {\n    \"executionOrder\": \"v1\"\n  },\n  \"versionId\": \"f9b5fc55-4e66-4ed2-87e9-a42548e37609\",\n  \"meta\": {\n    \"instanceId\": \"096854a656a56fe56c7ed8fc37db073b035d4d273d59324e67c7bb88e7c70748\"\n  },\n  \"id\": \"lDbYJup2xbNSknaJ\",\n  \"tags\": []\n};\n\nreturn [{\"workflow\" : JSON.stringify(workflow)}]"},"id":"10bcc205-e021-463d-a7c2-8cd63e74ee11","name":"Function Node","type":"n8n-nodes-base.function","position":[288,0],"typeVersion":1},{"parameters":{"operation":"create","workflowObject":"={{ $json.workflow }}","requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[512,0],"id":"5224b269-002a-468e-8394-90eed70d23a3","name":"Create a workflow","credentials":{"n8nApi":{"id":"E3zuKWWZyPCh7mpy","name":"n8n account"}}},{"parameters":{"operation":"activate","workflowId":{"__rl":true,"value":"={{ $json.id }}","mode":"id"},"requestOptions":{}},"type":"n8n-nodes-base.n8n","typeVersion":1,"position":[720,0],"id":"626f58cf-02d4-46ba-a7d4-9d86dd9dde1c","name":"Activate a workflow","credentials":{"n8nApi":{"id":"E3zuKWWZyPCh7mpy","name":"n8n account"}}}],"connections":{"On form submission":{"main":[[{"node":"Function Node","type":"main","index":0}]]},"Function Node":{"main":[[{"node":"Create a workflow","type":"main","index":0}]]},"Create a workflow":{"main":[[{"node":"Activate a workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"ab8bf18e-d9fc-4765-bbed-8950aa0337df","triggerCount":1,"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}