[Marama] - Eco News News Scrapper.json
{"createdAt":"2025-08-24T07:04:22.666Z","updatedAt":"2025-08-24T07:06:56.315Z","id":"BGMOqdouokxrSthQ","name":"[Marama] - Eco News News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":25}]},"feedUrl":"https://econews.co.ke/feed/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","json":"={{ $json }}","WebsiteName":"Eco News"},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3856],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"e144a4a7-b1f6-470a-9342-522d767f20da","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-09-03T08:06:42.000Z"}},"meta":null,"pinData":{},"versionId":"b67c5ec5-b59c-46bd-96be-bac31cbd12fc","triggerCount":1,"shared":[{"createdAt":"2025-08-24T07:04:22.666Z","updatedAt":"2025-08-24T07:04:22.666Z","role":"workflow:owner","workflowId":"BGMOqdouokxrSthQ","projectId":"ZESBjGt79se81N5E"}],"tags":[]}