[Marama] - Stuff News Scrapper.json
{"createdAt":"2025-08-22T10:05:53.305Z","updatedAt":"2025-08-23T23:08:03.763Z","id":"OaJKoz7aO46XyHH1","name":"[Marama] - Stuff News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":10}]},"feedUrl":"https://www.stuff.co.nz/rss"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13712,3744],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $('Loop Over Items').item.json.summary }}","ContentHTML":"={{ $json.data }}","json":"={{ $json }}","WebsiteName":"Stuff"},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13040,3744],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13488,3744],"id":"53dacdc3-d3e5-4c1e-bcf9-6d13b3b6c0d2","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13264,3664],"id":"8d1950a2-48df-4430-988d-539ea756e557","name":"HTTP Request"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-09-03T10:36:47.000Z"}},"meta":null,"pinData":{},"versionId":"8be7b3c2-c347-4a26-8b5a-35461ca442cf","triggerCount":1,"shared":[{"createdAt":"2025-08-22T10:05:53.305Z","updatedAt":"2025-08-22T10:05:53.305Z","role":"workflow:owner","workflowId":"OaJKoz7aO46XyHH1","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}