[Marama] - The Guardian News Scrapper.json
{"createdAt":"2025-08-10T02:37:25.436Z","updatedAt":"2025-08-26T08:47:52.154Z","id":"u9DXeXQC23ThFMqj","name":"[Marama] - The Guardian News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://www.theguardian.com/uk/rss"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3832],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","WebsiteName":"The Guardian","json":"={{ $json }}","priority":1},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-12400,3832],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13296,3832],"id":"9a2a04c3-71b1-412f-9239-083d30236538","name":"Loop Over Items"},{"parameters":{"fieldToSplitOut":"categories","include":"allOtherFields","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-13072,3760],"id":"ccb5c53d-0a67-4f57-bc63-06b0eaa00a6c","name":"Split Out"},{"parameters":{"functionCode":"// Get all input items as an array\nconst data = $input.all().map(item => item.json);\n\nconst all = $('Loop Over Items').item.json\n\n// Extract only the Categories into a new array\nconst categories = data.map(item => item.Categories);\n\n// Return the categories array as one object\nreturn [{ ...all,\n         categories }];"},"id":"b278fbb3-254e-47ae-a9c4-f67dbb1c2a2f","name":"Function Node","type":"n8n-nodes-base.function","position":[-12624,3760],"typeVersion":1},{"parameters":{"assignments":{"assignments":[{"id":"f35b6809-6100-4a5e-9d60-96ca9eb0aa94","name":"Categories","value":"={{ $json.categories._ }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12848,3760],"id":"a3505514-22ba-4342-b3ff-7a574dd10a4e","name":"Edit Fields"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Split Out","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]},"Function Node":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Function Node","type":"main","index":0}]]}},"settings":{"executionOrder":"v0","callerPolicy":"workflowsFromSameOwner"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-09-03T10:30:31.000Z"}},"meta":null,"pinData":{},"versionId":"bdbb9a8b-415f-42dd-9d58-7568d8c360fd","triggerCount":1,"shared":[{"createdAt":"2025-08-10T02:37:25.436Z","updatedAt":"2025-08-10T02:37:25.436Z","role":"workflow:owner","workflowId":"u9DXeXQC23ThFMqj","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}