[Marama] - The Hindu News Scrapper.json
{"createdAt":"2025-08-23T03:11:28.183Z","updatedAt":"2025-08-31T03:22:22.149Z","id":"CSBABIGAuYXTYy2Z","name":"[Marama] - The Hindu News Scrapper","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://www.thehindu.com/sci-tech/feeder/default.rss"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3860],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","json":"={{ $json }}","WebsiteName":"The Hindu"},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-12272,3912],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13296,3860],"id":"ba23c4ec-ff3b-4d4e-af95-f7d4fe5bbf44","name":"Loop Over Items"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"e33249b6-d329-4bfe-82e2-8e51dc7ab7c0","leftValue":"={{ $json.content }}","rightValue":"","operator":{"type":"string","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-13072,3788],"id":"7035d9c5-8b63-4e20-be0a-a3310278891b","name":"If"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-12848,3664],"id":"0b239f01-19a8-4025-86cb-69e0c55e78ec","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"You are an expert at extracting structured article content from raw HTML pages.\n\nGiven the raw HTML of a news or scientific article, extract the following fields if available:\n\n1. **title** → The article title.\n2. **authors** → A list of author names.\n3. **published_date** → The article's published date in YYYY-MM-DD format.\n4. **section** → The category or section (e.g., Science, Sports, Politics).\n5. **body** → The full clean article content, combining all paragraphs in order.\n\n### Important Rules:\n- Ignore ads, navigation bars, comments, related links, subscription banners, social buttons, footers, scripts, and styles.\n- Do not include HTML tags in the extracted text.\n- Keep the **body** clean, with proper spacing and paragraph order.\n- If any field is missing, skip it instead of returning null or empty strings.\n- Return the final result **strictly as a JSON object** in the following structure:\n","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-12624,3664],"id":"8e5f19b3-5f71-425d-8305-e1e1ad4e6af9","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"title\": \"string\",\n  \"authors\": [\"string\"],\n  \"published_date\": \"YYYY-MM-DD\",\n  \"section\": \"string\",\n  \"body\": \"string\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-12488,3888],"id":"ceffcc41-15a6-44f4-9555-b89e65094df0","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-12616,3888],"id":"34a577c6-7bc5-43c6-bbc3-77e42c4358cb","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"If","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"If":{"main":[[{"node":"Execute Workflow","type":"main","index":0}],[{"node":"HTTP Request","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-31T01:30:00.000Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"9e504725-1a9d-4054-87c8-1147784ad6eb","triggerCount":1,"shared":[{"createdAt":"2025-08-23T03:11:28.183Z","updatedAt":"2025-08-23T03:11:28.183Z","role":"workflow:owner","workflowId":"CSBABIGAuYXTYy2Z","projectId":"ZESBjGt79se81N5E"}],"tags":[]}