[Marama] News-feeder.json
{"createdAt":"2025-07-19T03:47:44.935Z","updatedAt":"2025-07-26T05:42:51.326Z","id":"iR3f2ACi161PfQjP","name":"[Marama] News-feeder","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n\t\"Media\": [\n    \"https://grist.org/wp-content/uploads/2025/07/GettyImages-2223449038-1.jpg?quality=75&strip=all\",\n        \"https://grist.org/wp-content/uploads/2025/07/GettyImages-2223267262.jpg?quality=75&strip=all\",\n        \"https://grist.org/wp-content/uploads/2025/07/d-101-600px.webp?quality=75&strip=all\",\n        \"https://grist.org/wp-content/uploads/2025/07/disaster-101-flooding.png?quality=75&strip=all\"\n      \n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-12480,5872],"id":"92426fde-d1e8-40a7-b31a-1c5959561f72","name":"Structured Output Parser1"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-12608,5872],"id":"ae5678dd-9c0a-441d-9ff1-66080abe3eb0","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"promptType":"define","text":"=Extract all image source URLs (src attributes from <img> tags) from the following HTML code: {{ $('Edit Fields3').item.json.content_encoded }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-12640,5648],"id":"3083ee76-c4e3-44a2-993b-09122376563a","name":"AI Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"0969ef8a-8338-48ee-a1d5-43d9aceb06d4","name":"Media","value":"={{ $json.output.Media }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12240,5648],"id":"e0539027-d98a-4a17-9a6a-e3177cfadeb6","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"f9ed886b-898b-49bb-9413-b81017ae348f","name":"content_encoded","value":"={{ $json.ContentHTML }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-12864,5648],"id":"abe89304-f379-4695-8f3e-76b9da315290","name":"Edit Fields3"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,5408],"id":"7651d63d-ab59-43d3-97c3-b01ba34b2a53","name":"Get a row26","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,5216],"id":"8f9cc7f9-55ac-4e73-999d-6990fbad60e6","name":"Get a row25","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,5024],"id":"7ed7f25c-8fe1-435b-b950-fbb00ca2f835","name":"Get a row24","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,4832],"id":"5cbf336c-df74-44e9-b7ea-befcffebd47b","name":"Get a row23","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,4640],"id":"1a0875a0-17fd-4d21-aa8d-88b4ca7fa779","name":"Get a row22","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-11072,4576],"id":"55fcdad7-b57a-4bf3-9b10-bc9ed1951313","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-11536,4544],"id":"7c1cd93c-3303-48b5-abea-aad54aafd492","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summery\":  \"string\"\n\t\t\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-11408,4544],"id":"7b0d302b-bcbe-4958-8886-56401b3156dd","name":"Structured Output Parser"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,4448],"id":"269b906e-5864-4c7d-a1c5-e9c3f175b899","name":"Get a row21","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"numberInputs":9},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12864,4448],"id":"6fe0bf99-71ed-4333-8d1e-b4595a6fbb06","name":"Merge2"},{"parameters":{"promptType":"define","text":"=You are an expert summarizer. Your task is to read the provided sustainability-related news article and produce a concise, clear summary.\n\nYour summary should:\n\t-   Be no more than 150 words.\n\t-   Include the key facts, data, and main message of the article.\n\t-   Mention any significant organizations, people, or places involved.\n\t-\tBe written in simple, engaging language that an educated general audience can understand.\n\t-\tExclude personal opinions or commentary unless explicitly present in the original article.\n\nHere is the content: {{ $('Start').item.json.Content }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-11568,4320],"id":"ed9ad629-e3bf-4368-a3e1-71d235d6793d","name":"AI Agent"},{"parameters":{"operation":"upload","bucketName":"data.marama.global","fileName":"=data-{{ $('Edit Fields1').item.json.filename_tag}}-{{ new Date().toISOString().slice(0,19).replace(/:/g, '-') }}.json","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-10320,4320],"id":"bfefcb65-10ad-4724-8748-e1a9500ff252","name":"Upload a file","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}}},{"parameters":{"bucketName":"data.marama.global","fileKey":"data-gist-2025-07-13T08-31-16.json"},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-9872,4320],"id":"abf7bf28-d5ba-4aca-8046-78077376b853","name":"Download a file","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12016,4320],"id":"53d1e311-5987-478e-895c-82fd1f554f4a","name":"Merge4"},{"parameters":{"operation":"toText","sourceProperty":"json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-10544,4320],"id":"9772c03c-341e-47a4-bfc1-d29cbbd3402c","name":"Convert to File"},{"parameters":{"operation":"getAll","bucketName":"data.marama.global","returnAll":true,"options":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-10096,4320],"id":"6fe41e27-9ba2-42ef-94d0-9901cbefd4f3","name":"Get many files","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}},"disabled":true},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-11792,4320],"id":"e7974c0a-08fd-44e6-9df5-172223bfc65b","name":"Aggregate2"},{"parameters":{"inputText":"={{ $('Start').item.json.Content }}","options":{"categories":"Positive, Neutral, Negative","systemPromptTemplate":"You are highly intelligent and accurate sentiment analyzer. Analyze the sentiment of the provided text. Categorize it into one of the following: {categories}. Use the provided formatting instructions. Only output the JSON.","includeDetailedResults":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-11168,4320],"id":"b57ae74c-9019-4ed8-a375-ed9654c0b311","name":"Sentiment Analysis","alwaysOutputData":false},{"parameters":{"assignments":{"assignments":[{"id":"a6bf311f-92f6-4301-96bf-b79d0407d185","name":"json","value":"={{ $('Start').item.json.json }}","type":"object"},{"id":"a10f0917-3da0-4dc1-be53-bb4e2ded2a65","name":"json.ecosystem","value":"={{ $('Aggregate2').item.json.data[0].ecosystem }}","type":"array"},{"id":"37b73f43-8b7a-4040-b747-83c642e0c989","name":"json.media","value":"={{ $('Aggregate2').item.json.data[1].Media }}","type":"array"},{"id":"6b6e3a05-8229-43f3-99a1-c6a0f7aa5146","name":"json.summery","value":"={{ $('AI Agent').item.json.output.summery}}","type":"string"},{"id":"eaeff237-cea4-4d91-9b9b-55ad91c5e091","name":"json.sentimentalAnalysis","value":"={{ $('Sentiment Analysis').item.json.sentimentAnalysis }}","type":"object"},{"id":"5af78e97-a757-4502-ae73-01cc5457261f","name":"priority","value":"={{ $('Start').item.json.priorty }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-10768,4320],"id":"3bfe371a-6b9b-4ba8-bcd1-4620438faa20","name":"Edit Fields","executeOnce":true},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,4256],"id":"18845b18-7470-4a0c-8e5f-78982db3208e","name":"Get a row","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,4064],"id":"23fe4e42-1c21-4c48-b5c1-d3e20d8bfd25","name":"Get a row20","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-13392,3872],"id":"866b5fc9-1bfe-4a4d-95d6-f4e498424762","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,3872],"id":"a55c44ed-29f3-4a99-9471-8d1606a6fef0","name":"Get a row27","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,3680],"id":"8bcd4eec-8de5-4c35-a14c-2125b2f11b68","name":"Get a row19","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,3488],"id":"932eaf1e-02ee-4227-bb37-979b75db9d5f","name":"Get a row18","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,3296],"id":"bd97feb1-c7c7-4455-b464-951ec184fc2c","name":"Get a row17","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,3104],"id":"93b51447-3287-4e20-b32b-ac75a2ac95c8","name":"Get a row16","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,2912],"id":"fe1fba1e-ea19-4292-ba80-e721f5caac8c","name":"Get a row15","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"ecosystem"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-12240,2832],"id":"bacd5f6b-7f59-4b2a-ac3b-3087f4f6e642","name":"Aggregate"},{"parameters":{"inputText":"={{ $('Start').item.json.Content }}","categories":{"categories":[{"category":"Art / Design / Culture","description":"Explores how creative expression, aesthetics, and cultural narratives influence sustainability, inspire environmental action, and shape sustainable lifestyles through design, visual arts, literature, and cultural heritage."},{"category":"Behaviour Change","description":"Focuses on strategies, psychology, and social science methods to shift individual or collective human behaviour toward more sustainable practices and consumption patterns."},{"category":"Blue Economy","description":"Encompasses sustainable use of ocean and water resources for economic growth, improved livelihoods, and ocean ecosystem health, covering sectors like fisheries, renewable marine energy, and coastal tourism."},{"category":"Biodiversity","description":"Addresses the variety and variability of life on Earth, including conservation of species, genetic diversity, and ecosystem resilience, and the importance of maintaining biodiversity for sustainable systems."},{"category":"Biomimicry","description":"Studies and applies nature’s designs, processes, and systems as models for creating sustainable technologies, materials, architecture, and solutions that mimic biological strategies."},{"category":"Bioregional","description":"Centers on designing sustainable societies and economies aligned with the ecological boundaries, resources, and cultural identity of specific geographical regions, emphasizing local resilience and place-based solutions."},{"category":"Circular / Spiral Economy","description":"Promotes an economic model where resources are kept in use as long as possible through reuse, repair, remanufacture, recycling, and regenerative flows, minimizing waste and resource extraction."},{"category":"Climate & Carbon","description":"Relates to greenhouse gas emissions, climate science, carbon footprints, mitigation strategies, adaptation, carbon markets, and climate policy aiming to address global warming and climate change impacts."},{"category":"Conservation","description":"Refers to the protection, preservation, and sustainable management of natural resources, habitats, and species to maintain biodiversity and ecosystem services for present and future generations."},{"category":"Cradle to Cradle","description":"A design philosophy promoting products and systems created for continuous cycles of reuse, where waste becomes input for new processes, eliminating the concept of waste altogether."},{"category":"Degrowth / Steady State","description":"Advocates for scaling down production and consumption to align with ecological limits, focusing on well-being over economic growth, or stabilizing economic activity within environmental boundaries."},{"category":"Doughnut Economics","description":"A framework balancing human needs and ecological limits, visualized as a doughnut-shaped space where society can thrive without exceeding planetary boundaries or falling short on social foundations"},{"category":"Ecocide","description":"Addresses acts causing severe damage or destruction to ecosystems, proposing recognition of ecocide as an international crime to hold individuals and corporations accountable for environmental harm."},{"category":"Ecological Footprint","description":"Measures the environmental impact of human activities in terms of the amount of biologically productive land and water required to produce consumed resources and absorb generated waste."},{"category":"Ecology / Deep Ecology","description":"Ecology studies relationships among organisms and their environment. Deep Ecology emphasizes intrinsic value of nature and calls for profound shifts in human consciousness and societal structures to preserve ecosystems."},{"category":"Indigenous","description":"Focuses on the knowledge systems, cultural practices, rights, and contributions of Indigenous peoples regarding sustainable stewardship of land, biodiversity, and natural resources."},{"category":"Modern Slavery","description":"Explores the intersection of human rights and sustainability, highlighting forced labor, human trafficking, and exploitative conditions in supply chains, with implications for sustainable and ethical sourcing."},{"category":"Nature","description":"Broadly encompasses the natural world—including landscapes, ecosystems, flora, and fauna—and its inherent value, aesthetic importance, and contributions to human well-being and sustainability."},{"category":"Place-Based / Cities","description":"Focuses on sustainability initiatives rooted in specific locations, especially urban areas, addressing challenges such as urban planning, sustainable infrastructure, mobility, resilience, and community engagement."},{"category":"Planetary Boundaries","description":"A scientific framework defining Earth system thresholds that should not be exceeded to avoid destabilizing the planet’s life-support systems, guiding sustainable development and risk management."},{"category":"Regenerative Thinking","description":"Goes beyond sustainability by aiming to restore and enhance ecosystems, communities, and economies, designing systems that replenish resources and generate net positive impacts."},{"category":"Social Justice & DEI","description":"Covers issues of fairness, equity, diversity, and inclusion within sustainability, addressing how social systems, policies, and practices affect marginalized communities and equitable access to resources."},{"category":"Social Procurement","description":"Involves integrating social and environmental considerations into purchasing decisions, using organizational buying power to generate positive social value and sustainable outcomes in communities."},{"category":"Sustainability / ESG / Six Capitals","description":"Encompasses broad sustainability topics, corporate ESG (Environmental, Social, Governance) strategies, and holistic frameworks like the Six Capitals (financial, manufactured, intellectual, human, social, and natural capital) for measuring sustainable business performance."},{"category":"Symbio(s)cene","description":"A proposed new epoch emphasizing symbiotic relationships between humans and nature, envisioning collaborative, interdependent systems as a response to ecological crises and Anthropocene impacts."},{"category":"Systems Thinking","description":"An approach for understanding complex, interconnected systems, recognizing feedback loops, interdependencies, and unintended consequences to design more effective sustainable solutions."},{"category":"Time Horizons","description":"Refers to how sustainability strategies consider different time scales—from immediate actions to long-term planning—shaping decision-making, risk assessment, and policy development for future generations."}]},"options":{"multiClass":true,"fallback":"discard","enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-13488,2816],"id":"7c14a02c-093b-45b9-8a47-8fe3b9491511","name":"Text Classifier"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12560,2816],"id":"967affc4-6cd8-463d-8d43-ff74b75b2f46","name":"Merge3"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,2720],"id":"0f87756f-114f-4962-a147-368f79aa7779","name":"Get a row14","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12864,2704],"id":"80ad7e5b-cff9-4b7e-92ce-86b4f3be4133","name":"Merge1"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,2528],"id":"e407f097-26ae-4a27-888e-cbf6d65878bd","name":"Get a row13","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,2336],"id":"420f9429-a1bc-4cac-a71d-b3391d9f5a79","name":"Get a row12","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,2144],"id":"750f98bc-5d7b-42ad-8c0f-707af54d25c9","name":"Get a row11","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,1952],"id":"ad2a87cd-9329-435b-87f3-6fbf39009d79","name":"Get a row10","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,1760],"id":"d75a6363-9d5b-4823-9f02-246ef23bb22c","name":"Get a row9","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,1568],"id":"8465dcf2-7a32-4025-9664-4b693ed48e05","name":"Get a row8","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,1376],"id":"53f960a6-af19-4b1b-8458-7f7db3586931","name":"Get a row6","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,1184],"id":"e005fe65-f7cc-4fc7-9140-614d8c6f5104","name":"Get a row5","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,992],"id":"f56c6959-f90b-4f34-9669-a5a1ec1a206a","name":"Get a row7","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,800],"id":"7b6c3436-9422-42b4-bf12-87cac74dc448","name":"Get a row3","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12864,784],"id":"61986490-be2e-4a06-8a7b-9f3217f9b9d5","name":"Merge"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,608],"id":"a566b62f-29a5-485d-a696-fd58bb1ccce8","name":"Get a row4","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,416],"id":"bcd4b3fb-6f8b-4f17-aec4-80e587f06de8","name":"Get a row2","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13088,224],"id":"6d68b13e-ddb8-4f3b-9672-87799824f70d","name":"Get a row1","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Content","type":"any"},{"name":"ContentHTML","type":"any"},{"name":"WebsiteName","type":"any"},{"name":"json","type":"any"},{"name":"priority","type":"number"}]}},"id":"8c133c19-35c5-43c0-b622-399af8cddbf8","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-13936,4224]},{"parameters":{"assignments":{"assignments":[{"id":"278ca2c4-06f2-4611-82fa-5dd53c3e3a83","name":"filename_tag","value":"={{ $('Start').item.json.WebsiteName.split(' ').map(word => word[0]).join('').toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-13712,2816],"id":"d9b508b6-7a35-4318-97d2-3c95cd315590","name":"Edit Fields1"}],"connections":{"Text Classifier":{"main":[[{"node":"Get a row1","type":"main","index":0}],[{"node":"Get a row2","type":"main","index":0}],[{"node":"Get a row3","type":"main","index":0}],[{"node":"Get a row4","type":"main","index":0}],[{"node":"Get a row5","type":"main","index":0}],[{"node":"Get a row6","type":"main","index":0}],[{"node":"Get a row7","type":"main","index":0}],[{"node":"Get a row8","type":"main","index":0}],[{"node":"Get a row9","type":"main","index":0}],[{"node":"Get a row10","type":"main","index":0}],[{"node":"Get a row11","type":"main","index":0}],[{"node":"Get a row12","type":"main","index":0}],[{"node":"Get a row13","type":"main","index":0}],[{"node":"Get a row14","type":"main","index":0}],[{"node":"Get a row15","type":"main","index":0}],[{"node":"Get a row16","type":"main","index":0}],[{"node":"Get a row17","type":"main","index":0}],[{"node":"Get a row18","type":"main","index":0}],[{"node":"Get a row19","type":"main","index":0}],[{"node":"Get a row20","type":"main","index":0}],[{"node":"Get a row21","type":"main","index":0}],[{"node":"Get a row22","type":"main","index":0}],[{"node":"Get a row23","type":"main","index":0}],[{"node":"Get a row24","type":"main","index":0}],[{"node":"Get a row25","type":"main","index":0}],[{"node":"Get a row26","type":"main","index":0}],[{"node":"Get a row","type":"main","index":0}],[]]},"Merge":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Get a row1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get a row2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get a row3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get a row4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Get a row5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Get a row6":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Get a row7":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Get a row8":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Get a row9":{"main":[[{"node":"Merge","type":"main","index":8}]]},"Get a row10":{"main":[[{"node":"Merge","type":"main","index":9}]]},"Get a row11":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get a row12":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get a row13":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Get a row14":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Get a row15":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Get a row17":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Get a row19":{"main":[[{"node":"Merge1","type":"main","index":8}]]},"Get a row16":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"Get a row18":{"main":[[{"node":"Merge1","type":"main","index":7}]]},"Get a row20":{"main":[[{"node":"Merge1","type":"main","index":9}]]},"Get a row21":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Get a row22":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Get a row23":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Get a row24":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Get a row25":{"main":[[{"node":"Merge2","type":"main","index":4}]]},"Get a row26":{"main":[[{"node":"Merge2","type":"main","index":5}]]},"Merge3":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Get many files","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Get many files":{"main":[[{"node":"Download a file","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Sentiment Analysis":{"main":[[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Get a row":{"main":[[{"node":"Merge2","type":"main","index":7}]]},"Get a row27":{"main":[[{"node":"Merge2","type":"main","index":8}]]},"Start":{"main":[[{"node":"Edit Fields3","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":null,"pinData":{},"versionId":"79c4af0a-5ff3-451e-ac6a-c66e4ad40cdd","triggerCount":0,"tags":[{"createdAt":"2025-07-19T05:01:11.919Z","updatedAt":"2025-07-19T05:01:11.919Z","id":"uykKxNNSSeCAm3L8","name":"SUB-WORKFLOW"},{"createdAt":"2025-07-19T05:00:52.998Z","updatedAt":"2025-07-19T05:00:52.998Z","id":"rc29VMbrx5Y8ZXWw","name":"LIVE"},{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}