[Marama] - Government Office Sweden News Scrapper.json
{"createdAt":"2025-08-24T10:20:02.455Z","updatedAt":"2025-08-24T10:26:39.398Z","id":"0AadBGWcBhkd1SJk","name":"[Marama] - Government Office Sweden News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":35}]},"feedUrl":"https://www.government.se/Filter/RssFeed?filterType=Taxonomy&filterByType=FilterablePageBase&preFilteredCategories=2069%2C2070%2C2071%2C2072%2C2073%2C2074%2C2075%2C2076%2C2077%2C2078%2C2079%2C2082%2C2083%2C2426&rootPageReference=0&filteredContentCategories=2253%2C2218%2C2210%2C2026%2C2027%2C2029%2C2030%2C2234%2C2016%2C2319%2C2025%2C2033%2C2035%2C2034%2C2219%2C2743%2C2036&filteredPoliticalLevelCategories=2039%2C2040&filteredPoliticalAreaCategories=2716%2C2658%2C2659%2C2217%2C2370%2C2155%2C2368%2C2369%2C2169%2C2171%2C2156%2C2166%2C2371%2C2157%2C2714%2C2463%2C2170%2C2158%2C2177%2C2176%2C2159%2C2160%2C2188%2C2298%2C2167%2C2187%2C2153%2C2301%2C2152%2C2165%2C2392%2C2180%2C2151%2C2150%2C2715%2C2173%2C2161%2C2748%2C2174%2C2660%2C2168%2C2436%2C2657%2C2216%2C2179%2C2172%2C2183%2C2184%2C2154%2C2462%2C2181%2C2162%2C2186%2C2251&filteredPublisherCategories=2629%2C2630%2C2631%2C2757%2C2632%2C2633%2C2634%2C2635%2C2636%2C2637%2C2638%2C2755%2C2794%2C2640%2C2642%2C2643%2C2645%2C2785%2C2646%2C2648%2C2649%2C2650%2C2793%2C2652%2C2069%2C2070%2C2071%2C2072%2C2073%2C2074%2C2076%2C2077%2C2078%2C2426%2C2079%2C2083%2C2082"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","json":"={{ $json }}","priority":0,"WebsiteName":"Government Office of Sweden"},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3856],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"d9d35f71-3359-4da1-a7f0-422e677b4226","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-09-02T15:53:51.000Z"}},"meta":null,"pinData":{},"versionId":"8662a0e3-5b64-4565-991b-ba6111adc898","triggerCount":1,"shared":[{"createdAt":"2025-08-24T10:20:02.455Z","updatedAt":"2025-08-24T10:20:02.455Z","role":"workflow:owner","workflowId":"0AadBGWcBhkd1SJk","projectId":"ZESBjGt79se81N5E"}],"tags":[]}