[Marama] News-feeder.json
{"createdAt":"2025-07-19T03:47:44.935Z","updatedAt":"2025-08-31T00:53:16.301Z","id":"iR3f2ACi161PfQjP","name":"[Marama] News-feeder","active":false,"isArchived":false,"nodes":[{"parameters":{"jsonSchemaExample":"{\n\t\"Media\": [\n    \"https://grist.org/wp-content/uploads/2025/07/GettyImages-2223449038-1.jpg?quality=75&strip=all\",\n        \"https://grist.org/wp-content/uploads/2025/07/GettyImages-2223267262.jpg?quality=75&strip=all\",\n        \"https://grist.org/wp-content/uploads/2025/07/d-101-600px.webp?quality=75&strip=all\",\n        \"https://grist.org/wp-content/uploads/2025/07/disaster-101-flooding.png?quality=75&strip=all\"\n      \n    ]\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-11312,5760],"id":"92426fde-d1e8-40a7-b31a-1c5959561f72","name":"Structured Output Parser1"},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-11440,5760],"id":"ae5678dd-9c0a-441d-9ff1-66080abe3eb0","name":"OpenRouter Chat Model3","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"promptType":"define","text":"=Extract all image source URLs (src attributes from <img> tags) from the following HTML code: {{ $('Edit Fields3').item.json.content_encoded }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-11440,5536],"id":"3083ee76-c4e3-44a2-993b-09122376563a","name":"AI Agent1"},{"parameters":{"assignments":{"assignments":[{"id":"0969ef8a-8338-48ee-a1d5-43d9aceb06d4","name":"Media","value":"={{ $json.output.Media }}","type":"array"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11088,5536],"id":"e0539027-d98a-4a17-9a6a-e3177cfadeb6","name":"Edit Fields2"},{"parameters":{"assignments":{"assignments":[{"id":"f9ed886b-898b-49bb-9413-b81017ae348f","name":"content_encoded","value":"={{ $json.ContentHTML }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-11664,5536],"id":"abe89304-f379-4695-8f3e-76b9da315290","name":"Edit Fields3"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,5296],"id":"7651d63d-ab59-43d3-97c3-b01ba34b2a53","name":"Get a row26","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,5104],"id":"8f9cc7f9-55ac-4e73-999d-6990fbad60e6","name":"Get a row25","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,4912],"id":"7ed7f25c-8fe1-435b-b950-fbb00ca2f835","name":"Get a row24","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,4720],"id":"5cbf336c-df74-44e9-b7ea-befcffebd47b","name":"Get a row23","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,4528],"id":"1a0875a0-17fd-4d21-aa8d-88b4ca7fa779","name":"Get a row22","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-9424,5536],"id":"55fcdad7-b57a-4bf3-9b10-bc9ed1951313","name":"OpenRouter Chat Model1","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-10192,5504],"id":"7c1cd93c-3303-48b5-abea-aad54aafd492","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"schemaType":"manual","inputSchema":"{\n\t\"type\": \"object\",\n\t\"properties\": {\n\t\t\"summery\":  \"string\"\n\t\t\n\t}\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-10064,5504],"id":"7b0d302b-bcbe-4958-8886-56401b3156dd","name":"Structured Output Parser"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,4336],"id":"269b906e-5864-4c7d-a1c5-e9c3f175b899","name":"Get a row21","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"numberInputs":9},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12912,4896],"id":"6fe0bf99-71ed-4333-8d1e-b4595a6fbb06","name":"Merge2"},{"parameters":{"promptType":"define","text":"=You are an expert summarizer. Your task is to read the provided sustainability-related news article and produce a concise, clear summary.\n\nYour summary should:\n\t-   Be no more than 150 words.\n\t-   Include the key facts, data, and main message of the article.\n\t-   Mention any significant organizations, people, or places involved.\n\t-\tBe written in simple, engaging language that an educated general audience can understand.\n\t-\tExclude personal opinions or commentary unless explicitly present in the original article.\n\nHere is the content: {{ $('Start').item.json.Content }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2,"position":[-10192,5280],"id":"ed9ad629-e3bf-4368-a3e1-71d235d6793d","name":"AI Agent"},{"parameters":{"operation":"upload","bucketName":"data.marama.global","fileName":"=data-{{ $('Edit Fields1').item.json.filename_tag }}-{{ new Date().toISOString().slice(0,19).replace(/:/g, '-') }}.json","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-8480,5280],"id":"bfefcb65-10ad-4724-8748-e1a9500ff252","name":"Upload a file","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}}},{"parameters":{"bucketName":"data.marama.global","fileKey":"data-gist-2025-07-13T08-31-16.json"},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-8032,5280],"id":"abf7bf28-d5ba-4aca-8046-78077376b853","name":"Download a file","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}},"disabled":true},{"parameters":{},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-10864,5280],"id":"53d1e311-5987-478e-895c-82fd1f554f4a","name":"Merge4"},{"parameters":{"operation":"toText","sourceProperty":"json","options":{}},"type":"n8n-nodes-base.convertToFile","typeVersion":1.1,"position":[-8704,5280],"id":"9772c03c-341e-47a4-bfc1-d29cbbd3402c","name":"Convert to File"},{"parameters":{"operation":"getAll","bucketName":"data.marama.global","returnAll":true,"options":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-8256,5280],"id":"6fe41e27-9ba2-42ef-94d0-9901cbefd4f3","name":"Get many files","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}},"disabled":true},{"parameters":{"inputText":"={{ $('Start').item.json.Content }}","options":{"categories":"Positive, Neutral, Negative","systemPromptTemplate":"You are highly intelligent and accurate sentiment analyzer. Analyze the sentiment of the provided text. Categorize it into one of the following: {categories}. Use the provided formatting instructions. Only output the JSON.","includeDetailedResults":true,"enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.sentimentAnalysis","typeVersion":1.1,"position":[-9488,5280],"id":"b57ae74c-9019-4ed8-a375-ed9654c0b311","name":"Sentiment Analysis","alwaysOutputData":true},{"parameters":{"assignments":{"assignments":[{"id":"a6bf311f-92f6-4301-96bf-b79d0407d185","name":"json","value":"={{ $('Start').item.json.json }}","type":"object"},{"id":"a10f0917-3da0-4dc1-be53-bb4e2ded2a65","name":"json.ecosystem","value":"={{ $('Aggregate1').item.json.data[0].ecosystem[0] }}","type":"array"},{"id":"faae48e5-e3ff-47d7-b4ec-db3a0266eb88","name":"json.industries","value":"={{ $('Aggregate1').item.json.data[0].industry }}","type":"array"},{"id":"37b73f43-8b7a-4040-b747-83c642e0c989","name":"json.media","value":"={{ $('Aggregate1').item.json.data[1].Media }}","type":"array"},{"id":"6b6e3a05-8229-43f3-99a1-c6a0f7aa5146","name":"json.summery","value":"={{ $('AI Agent').item.json.output.summery}}","type":"string"},{"id":"eaeff237-cea4-4d91-9b9b-55ad91c5e091","name":"json.sentimentalAnalysis","value":"={{ $json.sentimentAnalysis.category }}","type":"string"},{"id":"58b516fd-60b2-4241-84f1-5166a7cd237c","name":"json.importance","value":"={{ $('AI Agent2').item.json.output.importance }}","type":"string"},{"id":"5af78e97-a757-4502-ae73-01cc5457261f","name":"json.priority","value":"={{ $('Start').item.json.priority }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-8864,5280],"id":"3bfe371a-6b9b-4ba8-bcd1-4620438faa20","name":"Edit Fields","executeOnce":false},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,4144],"id":"18845b18-7470-4a0c-8e5f-78982db3208e","name":"Get a row","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,3952],"id":"23fe4e42-1c21-4c48-b5c1-d3e20d8bfd25","name":"Get a row20","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"model":"openai/gpt-4o-mini","options":{"temperature":0.2}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-13424,4320],"id":"866b5fc9-1bfe-4a4d-95d6-f4e498424762","name":"OpenRouter Chat Model2","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,3760],"id":"8bcd4eec-8de5-4c35-a14c-2125b2f11b68","name":"Get a row19","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,3568],"id":"932eaf1e-02ee-4227-bb37-979b75db9d5f","name":"Get a row18","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,3376],"id":"bd97feb1-c7c7-4455-b464-951ec184fc2c","name":"Get a row17","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,3184],"id":"93b51447-3287-4e20-b32b-ac75a2ac95c8","name":"Get a row16","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,2912],"id":"fe1fba1e-ea19-4292-ba80-e721f5caac8c","name":"Get a row15","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"ecosystem"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-12464,2848],"id":"bacd5f6b-7f59-4b2a-ac3b-3087f4f6e642","name":"Aggregate"},{"parameters":{"inputText":"={{ $('Start').item.json.Content }}","categories":{"categories":[{"category":"Art / Design / Culture","description":"Explores how creative expression, aesthetics, and cultural narratives influence sustainability, inspire environmental action, and shape sustainable lifestyles through design, visual arts, literature, and cultural heritage."},{"category":"Behaviour Change","description":"Focuses on strategies, psychology, and social science methods to shift individual or collective human behaviour toward more sustainable practices and consumption patterns."},{"category":"Blue Economy","description":"Encompasses sustainable use of ocean and water resources for economic growth, improved livelihoods, and ocean ecosystem health, covering sectors like fisheries, renewable marine energy, and coastal tourism."},{"category":"Biodiversity","description":"Addresses the variety and variability of life on Earth, including conservation of species, genetic diversity, and ecosystem resilience, and the importance of maintaining biodiversity for sustainable systems."},{"category":"Biomimicry","description":"Studies and applies nature’s designs, processes, and systems as models for creating sustainable technologies, materials, architecture, and solutions that mimic biological strategies."},{"category":"Bioregional","description":"Centers on designing sustainable societies and economies aligned with the ecological boundaries, resources, and cultural identity of specific geographical regions, emphasizing local resilience and place-based solutions."},{"category":"Circular / Spiral Economy","description":"Promotes an economic model where resources are kept in use as long as possible through reuse, repair, remanufacture, recycling, and regenerative flows, minimizing waste and resource extraction."},{"category":"Climate & Carbon","description":"Relates to greenhouse gas emissions, climate science, carbon footprints, mitigation strategies, adaptation, carbon markets, and climate policy aiming to address global warming and climate change impacts."},{"category":"Conservation","description":"Refers to the protection, preservation, and sustainable management of natural resources, habitats, and species to maintain biodiversity and ecosystem services for present and future generations."},{"category":"Cradle to Cradle","description":"A design philosophy promoting products and systems created for continuous cycles of reuse, where waste becomes input for new processes, eliminating the concept of waste altogether."},{"category":"Degrowth / Steady State","description":"Advocates for scaling down production and consumption to align with ecological limits, focusing on well-being over economic growth, or stabilizing economic activity within environmental boundaries."},{"category":"Doughnut Economics","description":"A framework balancing human needs and ecological limits, visualized as a doughnut-shaped space where society can thrive without exceeding planetary boundaries or falling short on social foundations"},{"category":"Ecocide","description":"Addresses acts causing severe damage or destruction to ecosystems, proposing recognition of ecocide as an international crime to hold individuals and corporations accountable for environmental harm."},{"category":"Ecological Footprint","description":"Measures the environmental impact of human activities in terms of the amount of biologically productive land and water required to produce consumed resources and absorb generated waste."},{"category":"Ecology / Deep Ecology","description":"Ecology studies relationships among organisms and their environment. Deep Ecology emphasizes intrinsic value of nature and calls for profound shifts in human consciousness and societal structures to preserve ecosystems."},{"category":"Indigenous","description":"Focuses on the knowledge systems, cultural practices, rights, and contributions of Indigenous peoples regarding sustainable stewardship of land, biodiversity, and natural resources."},{"category":"Modern Slavery","description":"Explores the intersection of human rights and sustainability, highlighting forced labor, human trafficking, and exploitative conditions in supply chains, with implications for sustainable and ethical sourcing."},{"category":"Nature","description":"Broadly encompasses the natural world—including landscapes, ecosystems, flora, and fauna—and its inherent value, aesthetic importance, and contributions to human well-being and sustainability."},{"category":"Place-Based / Cities","description":"Focuses on sustainability initiatives rooted in specific locations, especially urban areas, addressing challenges such as urban planning, sustainable infrastructure, mobility, resilience, and community engagement."},{"category":"Planetary Boundaries","description":"A scientific framework defining Earth system thresholds that should not be exceeded to avoid destabilizing the planet’s life-support systems, guiding sustainable development and risk management."},{"category":"Regenerative Thinking","description":"Goes beyond sustainability by aiming to restore and enhance ecosystems, communities, and economies, designing systems that replenish resources and generate net positive impacts."},{"category":"Social Justice & DEI","description":"Covers issues of fairness, equity, diversity, and inclusion within sustainability, addressing how social systems, policies, and practices affect marginalized communities and equitable access to resources."},{"category":"Social Procurement","description":"Involves integrating social and environmental considerations into purchasing decisions, using organizational buying power to generate positive social value and sustainable outcomes in communities."},{"category":"Sustainability / ESG / Six Capitals","description":"Encompasses broad sustainability topics, corporate ESG (Environmental, Social, Governance) strategies, and holistic frameworks like the Six Capitals (financial, manufactured, intellectual, human, social, and natural capital) for measuring sustainable business performance."},{"category":"Symbio(s)cene","description":"A proposed new epoch emphasizing symbiotic relationships between humans and nature, envisioning collaborative, interdependent systems as a response to ecological crises and Anthropocene impacts."},{"category":"Systems Thinking","description":"An approach for understanding complex, interconnected systems, recognizing feedback loops, interdependencies, and unintended consequences to design more effective sustainable solutions."},{"category":"Time Horizons","description":"Refers to how sustainability strategies consider different time scales—from immediate actions to long-term planning—shaping decision-making, risk assessment, and policy development for future generations."}]},"options":{"multiClass":true,"fallback":"discard","enableAutoFixing":true}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-13488,3296],"id":"7c14a02c-093b-45b9-8a47-8fe3b9491511","name":"Text Classifier"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12688,2832],"id":"967affc4-6cd8-463d-8d43-ff74b75b2f46","name":"Merge3"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,2720],"id":"0f87756f-114f-4962-a147-368f79aa7779","name":"Get a row14","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12912,2976],"id":"80ad7e5b-cff9-4b7e-92ce-86b4f3be4133","name":"Merge1"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,2528],"id":"e407f097-26ae-4a27-888e-cbf6d65878bd","name":"Get a row13","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,2336],"id":"420f9429-a1bc-4cac-a71d-b3391d9f5a79","name":"Get a row12","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,2144],"id":"750f98bc-5d7b-42ad-8c0f-707af54d25c9","name":"Get a row11","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,1952],"id":"ad2a87cd-9329-435b-87f3-6fbf39009d79","name":"Get a row10","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,1760],"id":"d75a6363-9d5b-4823-9f02-246ef23bb22c","name":"Get a row9","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,1568],"id":"8465dcf2-7a32-4025-9664-4b693ed48e05","name":"Get a row8","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,1376],"id":"53f960a6-af19-4b1b-8458-7f7db3586931","name":"Get a row6","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,1184],"id":"e005fe65-f7cc-4fc7-9140-614d8c6f5104","name":"Get a row5","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,992],"id":"f56c6959-f90b-4f34-9669-a5a1ec1a206a","name":"Get a row7","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,800],"id":"7b6c3436-9422-42b4-bf12-87cac74dc448","name":"Get a row3","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-12912,1056],"id":"61986490-be2e-4a06-8a7b-9f3217f9b9d5","name":"Merge"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,608],"id":"a566b62f-29a5-485d-a696-fd58bb1ccce8","name":"Get a row4","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,416],"id":"bcd4b3fb-6f8b-4f17-aec4-80e587f06de8","name":"Get a row2","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-13136,224],"id":"6d68b13e-ddb8-4f3b-9672-87799824f70d","name":"Get a row1","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"workflowInputs":{"values":[{"name":"Content","type":"any"},{"name":"ContentHTML","type":"any"},{"name":"WebsiteName","type":"any"},{"name":"json","type":"any"},{"name":"priority","type":"number"}]}},"id":"8c133c19-35c5-43c0-b622-399af8cddbf8","typeVersion":1.1,"name":"Start","type":"n8n-nodes-base.executeWorkflowTrigger","position":[-13936,4704]},{"parameters":{"assignments":{"assignments":[{"id":"278ca2c4-06f2-4611-82fa-5dd53c3e3a83","name":"filename_tag","value":"={{ $('Start').item.json.WebsiteName.split(' ').map(word => word[0]).join('').toUpperCase() }}","type":"string"}]},"options":{}},"type":"n8n-nodes-base.set","typeVersion":3.4,"position":[-13712,3296],"id":"d9b508b6-7a35-4318-97d2-3c95cd315590","name":"Edit Fields1"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"loose","version":2},"conditions":[{"id":"9dd9e658-92ee-429b-aa04-90ed49eb1145","leftValue":"={{ $json.data[0].ecosystem }}","rightValue":"","operator":{"type":"array","operation":"notEmpty","singleValue":true}}],"combinator":"and"},"looseTypeValidation":true,"options":{}},"type":"n8n-nodes-base.if","typeVersion":2.2,"position":[-10416,5280],"id":"5445780b-7a73-4337-8e3d-d19de45826cc","name":"If","executeOnce":false},{"parameters":{"aggregate":"aggregateAllItemData","options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-10640,5280],"id":"211aa465-19ad-4a5f-876f-4830b92b730d","name":"Aggregate1"},{"parameters":{"inputText":"={{ $('Start').item.json.Content }}","categories":{"categories":[{"category":"Agriculture, Forestry & Fishing","description":"Covers primary industries focused on the cultivation of crops, livestock, aquaculture, forestry, and fisheries. Sustainability themes include regenerative agriculture, sustainable land and water use, biodiversity conservation, and climate-resilient practices."},{"category":"Construction & Demolition","description":"Involves the planning, building, renovation, and deconstruction of physical infrastructure. Sustainability aspects include green building design, circular construction materials, energy efficiency, waste reduction, and sustainable demolition practices."},{"category":"Consultancy & Energy","description":"Spans sustainability-focused consultancy services and the energy sector, including renewable energy, energy efficiency, and carbon consulting. Key themes include energy transition, decarbonization strategies, and sustainability advisory for public and private sectors."},{"category":"Finance & Insurance","description":"Relates to banking, investment, accounting, and insurance sectors. Sustainability topics include ESG investing, green finance, climate risk, sustainable lending, carbon accounting, and insurance products for climate resilience and environmental risk."},{"category":"IT & Comms","description":"Includes information technology, telecommunications, and digital infrastructure. Sustainability intersections include green data centers, digital carbon footprints, ethical tech, AI for sustainability, and enabling smart, low-carbon systems."},{"category":"Journalism & Media","description":"Encompasses news, publishing, broadcasting, and storytelling. Sustainability focus includes environmental journalism, public awareness of climate issues, media’s role in social and ecological advocacy, and combating greenwashing."},{"category":"Manufacturing","description":"Covers production and industrial processes across various goods. Sustainable manufacturing practices include resource efficiency, cleaner production, circular economy integration, supply chain transparency, and emission reduction strategies."},{"category":"Mining & Quarrying","description":"Involves extraction of minerals, metals, and fossil fuels. Sustainability efforts focus on environmental restoration, responsible sourcing, community impact mitigation, water and land use, and transition away from extractive economies."},{"category":"Real Estate","description":"Concerns property development, sales, and management. Sustainability overlaps include green buildings, energy-efficient housing, sustainable urban design, smart cities, and carbon-neutral property portfolios."},{"category":"Research & Consulting","description":"Refers to academic, scientific, or applied research entities and professional consulting services. Sustainability ties include environmental assessments, climate modeling, policy research, innovation strategy, and ESG advisory."},{"category":"Retail","description":"Covers the sale and distribution of consumer goods. Sustainability relevance includes ethical sourcing, packaging reduction, circular retail models, sustainable fashion, and influencing consumer behavior through sustainable choices."},{"category":"Transportation & Logistics","description":"Includes freight, public transport, aviation, and last-mile delivery. Sustainability elements involve low-emission transport modes, electrification, route optimization, supply chain decarbonization, and sustainable urban mobility planning."}]},"options":{"fallback":"other"}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-12352,1808],"id":"93fd3e99-368b-48b2-9a7e-360a73add20f","name":"Text Classifier1"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-12256,2464],"id":"26ce4a7a-efea-4fd6-905b-1cc4e5f66b52","name":"OpenRouter Chat Model4","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,1488],"id":"06770231-64f5-458c-9f1f-7605b1585849","name":"Get a row27","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,1680],"id":"349fd8d0-5f62-4154-935f-fadb83ef5e0a","name":"Get a row28","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,3632],"id":"152d7a14-b5a3-49d6-a8b0-7a508ddd4c57","name":"Get a row29","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,3824],"id":"d45595a0-dc0a-4d89-9544-e5a1eaddc97f","name":"Get a row30","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,2064],"id":"93670293-8bc4-47f1-ae5e-c755017b2de0","name":"Get a row31","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,3056],"id":"fec22ac2-74ca-4a21-87b3-1659482a379c","name":"Get a row32","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,3440],"id":"04c90e3f-7d7b-424f-bc86-1fa8ffa84a3d","name":"Get a row33","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,2256],"id":"1e44f50f-e5ac-4087-839f-cdd2b4c1314d","name":"Get a row34","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,2864],"id":"74022e22-0809-4752-a1ac-3b19ae7aee01","name":"Get a row35","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,1872],"id":"a85e8c28-7c25-4730-a5ca-554ce16799bf","name":"Get a row36","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,2448],"id":"9cb14cd6-575b-4f5b-aa84-16a96df90198","name":"Get a row37","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,2640],"id":"ab7220ac-6db2-44e0-97f2-c1ffa9e4024c","name":"Get a row38","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"industires Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11888,3248],"id":"9463be9c-a8d1-435e-bfc4-e94c0821eb9b","name":"Get a row39","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-11600,1968],"id":"49bc4757-d447-4cf6-b0cf-066137b8c112","name":"Merge5"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-11664,3712],"id":"7c70c792-a9d3-4123-8ec5-e2f8aa0f1ccc","name":"Merge6"},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"industry"},{"fieldToAggregate":"ecosystem"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-11088,3600],"id":"0b45e8ee-da0b-462e-bd11-c098962061d5","name":"Aggregate2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-11376,3584],"id":"605ea5ee-08bb-4016-800a-26cd495bbf3f","name":"Merge7"},{"parameters":{"promptType":"define","text":"=You are an expert news editor.\n\nGiven the following news content, assess its importance on a scale from 0.0 to 1.0. A score of 1.0 means the news is globally impactful, breaking, or has major policy/societal implications. A score of 0.0 means it's routine, irrelevant, or unimportant. Justify your rating in one sentence.\n\nTitle: {{ $('Start').item.json.json.title }}\nContent: {{ $('Start').item.json.Content }}\nDate: {{ $('Start').item.json.json.date }}\nSource: {{ $('Start').item.json.json['dc:creator'] }}\n\nReturn:\n{\"importance\": 0.83, \"justification\": \"Significant national policy change affecting energy transition.\"}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-9840,5280],"id":"069b180b-617a-4da4-b9b1-2ec5107a6f21","name":"AI Agent2"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-9840,5504],"id":"c58852cf-fa14-41d6-84f4-71519e087a66","name":"OpenRouter Chat Model5","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}},{"parameters":{"jsonSchemaExample":"{\"importance\": 0.83, \"justification\": \"Significant national policy change affecting energy transition.\"}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-9712,5504],"id":"7db83c7f-65db-439d-b0eb-35ee99628b3a","name":"Structured Output Parser2"},{"parameters":{"conditions":{"options":{"caseSensitive":true,"leftValue":"","typeValidation":"strict","version":2},"conditions":[{"id":"6176b081-9b60-46c4-9186-07291ec78c5f","leftValue":"={{ $('Sentiment Analysis') }}","rightValue":"","operator":{"type":"object","operation":"empty","singleValue":true}}],"combinator":"and"},"options":{}},"type":"n8n-nodes-base.filter","typeVersion":2.2,"position":[-9136,5184],"id":"755e0b45-982d-4cf9-8cdf-69582266a543","name":"Filter"}],"connections":{"Text Classifier":{"main":[[{"node":"Get a row1","type":"main","index":0}],[{"node":"Get a row2","type":"main","index":0}],[{"node":"Get a row3","type":"main","index":0}],[{"node":"Get a row4","type":"main","index":0}],[{"node":"Get a row5","type":"main","index":0}],[{"node":"Get a row6","type":"main","index":0}],[{"node":"Get a row7","type":"main","index":0}],[{"node":"Get a row8","type":"main","index":0}],[{"node":"Get a row9","type":"main","index":0}],[{"node":"Get a row10","type":"main","index":0}],[{"node":"Get a row11","type":"main","index":0}],[{"node":"Get a row12","type":"main","index":0}],[{"node":"Get a row13","type":"main","index":0}],[{"node":"Get a row14","type":"main","index":0}],[{"node":"Get a row15","type":"main","index":0}],[{"node":"Get a row16","type":"main","index":0}],[{"node":"Get a row17","type":"main","index":0}],[{"node":"Get a row18","type":"main","index":0}],[{"node":"Get a row19","type":"main","index":0}],[{"node":"Get a row20","type":"main","index":0}],[{"node":"Get a row21","type":"main","index":0}],[{"node":"Get a row22","type":"main","index":0}],[{"node":"Get a row23","type":"main","index":0}],[{"node":"Get a row24","type":"main","index":0}],[{"node":"Get a row25","type":"main","index":0}],[{"node":"Get a row26","type":"main","index":0}],[{"node":"Get a row","type":"main","index":0}],[]]},"Merge":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Get a row1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get a row2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get a row3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get a row4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Get a row5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Get a row6":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Get a row7":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Get a row8":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Get a row9":{"main":[[{"node":"Merge","type":"main","index":8}]]},"Get a row10":{"main":[[{"node":"Merge","type":"main","index":9}]]},"Get a row11":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get a row12":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get a row13":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Get a row14":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Get a row15":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Get a row17":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Get a row19":{"main":[[{"node":"Merge1","type":"main","index":8}]]},"Get a row16":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"Get a row18":{"main":[[{"node":"Merge1","type":"main","index":7}]]},"Get a row20":{"main":[[{"node":"Merge1","type":"main","index":9}]]},"Get a row21":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Get a row22":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Get a row23":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Get a row24":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Get a row25":{"main":[[{"node":"Merge2","type":"main","index":4}]]},"Get a row26":{"main":[[{"node":"Merge2","type":"main","index":5}]]},"Merge3":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Merge7","type":"main","index":2},{"node":"Text Classifier1","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Get many files","type":"main","index":0}]]},"Merge4":{"main":[[{"node":"Aggregate1","type":"main","index":0}]]},"Convert to File":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Get many files":{"main":[[{"node":"Download a file","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"AI Agent2","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"AI Agent1":{"main":[[{"node":"Edit Fields2","type":"main","index":0}]]},"Structured Output Parser1":{"ai_outputParser":[[{"node":"AI Agent1","type":"ai_outputParser","index":0}]]},"Edit Fields3":{"main":[[{"node":"AI Agent1","type":"main","index":0}]]},"Edit Fields2":{"main":[[{"node":"Merge4","type":"main","index":1}]]},"Sentiment Analysis":{"main":[[{"node":"Filter","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}],[{"node":"Edit Fields","type":"main","index":0}]]},"Edit Fields":{"main":[[{"node":"Convert to File","type":"main","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model1":{"ai_languageModel":[[{"node":"Sentiment Analysis","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model2":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"OpenRouter Chat Model3":{"ai_languageModel":[[{"node":"AI Agent1","type":"ai_languageModel","index":0}]]},"Get a row":{"main":[[{"node":"Merge2","type":"main","index":7}]]},"Start":{"main":[[{"node":"Edit Fields3","type":"main","index":0},{"node":"Edit Fields1","type":"main","index":0}]]},"Edit Fields1":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"If":{"main":[[{"node":"AI Agent","type":"main","index":0}],[]]},"Aggregate1":{"main":[[{"node":"If","type":"main","index":0}]]},"OpenRouter Chat Model4":{"ai_languageModel":[[{"node":"Text Classifier1","type":"ai_languageModel","index":0}]]},"Text Classifier1":{"main":[[{"node":"Get a row27","type":"main","index":0}],[{"node":"Get a row28","type":"main","index":0}],[{"node":"Get a row29","type":"main","index":0}],[{"node":"Get a row30","type":"main","index":0}],[{"node":"Get a row31","type":"main","index":0}],[{"node":"Get a row32","type":"main","index":0}],[{"node":"Get a row33","type":"main","index":0}],[{"node":"Get a row34","type":"main","index":0}],[{"node":"Get a row35","type":"main","index":0}],[{"node":"Get a row36","type":"main","index":0}],[{"node":"Get a row37","type":"main","index":0}],[{"node":"Get a row38","type":"main","index":0}],[{"node":"Get a row39","type":"main","index":0}]]},"Get a row27":{"main":[[{"node":"Merge5","type":"main","index":0}]]},"Get a row28":{"main":[[{"node":"Merge5","type":"main","index":1}]]},"Get a row36":{"main":[[{"node":"Merge5","type":"main","index":2}]]},"Get a row31":{"main":[[{"node":"Merge5","type":"main","index":3}]]},"Get a row34":{"main":[[{"node":"Merge5","type":"main","index":4}]]},"Get a row37":{"main":[[{"node":"Merge5","type":"main","index":5}]]},"Get a row38":{"main":[[{"node":"Merge5","type":"main","index":6}]]},"Get a row35":{"main":[[{"node":"Merge5","type":"main","index":7}]]},"Get a row32":{"main":[[{"node":"Merge5","type":"main","index":8}]]},"Get a row39":{"main":[[{"node":"Merge5","type":"main","index":9}]]},"Get a row33":{"main":[[{"node":"Merge6","type":"main","index":0}]]},"Get a row29":{"main":[[{"node":"Merge6","type":"main","index":1}]]},"Get a row30":{"main":[[{"node":"Merge6","type":"main","index":2}]]},"Merge6":{"main":[[{"node":"Merge7","type":"main","index":1}]]},"Merge5":{"main":[[{"node":"Merge7","type":"main","index":0}]]},"Merge7":{"main":[[{"node":"Aggregate2","type":"main","index":0}]]},"Aggregate2":{"main":[[{"node":"Merge4","type":"main","index":0}]]},"AI Agent2":{"main":[[{"node":"Sentiment Analysis","type":"main","index":0}]]},"OpenRouter Chat Model5":{"ai_languageModel":[[{"node":"AI Agent2","type":"ai_languageModel","index":0}]]},"Structured Output Parser2":{"ai_outputParser":[[{"node":"AI Agent2","type":"ai_outputParser","index":0}]]},"Download a file":{"main":[[]]},"Filter":{"main":[[{"node":"Edit Fields","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{"Start":[{"json":{"Content":"For 25 years, Amazon Conservation has worked hand in hand with Indigenous communities, scientists, and local partners to protect the Amazon’s most important forests and rivers. From the remote biological stations in the heart of the rainforest to remote, biodiversity-rich protected areas, our teams are on the ground monitoring wildlife, restoring habitats, and supporting sustainable […]\nThe post One Week Until Rise for the Amazon Day appeared first on Amazon Conservation Association.","ContentHTML":"<p>For 25 years, Amazon Conservation has worked hand in hand with Indigenous communities, scientists, and local partners to protect the Amazon’s most important forests and rivers. From the remote biological stations in the heart of the rainforest to remote, biodiversity-rich protected areas, our teams are on the ground monitoring wildlife, restoring habitats, and supporting sustainable [&#8230;]</p>\n<p>The post <a href=\"https://www.amazonconservation.org/one-week-until-rise-for-the-amazon-day/\">One Week Until Rise for the Amazon Day</a> appeared first on <a href=\"https://www.amazonconservation.org\">Amazon Conservation Association</a>.</p>\n","WebsiteName":"Amazon Conservation","json":{"creator":"Heather Hutchison","title":"One Week Until Rise for the Amazon Day","link":"https://www.amazonconservation.org/one-week-until-rise-for-the-amazon-day/","pubDate":"Thu, 28 Aug 2025 19:18:15 +0000","content:encoded":"<p><span style=\"font-weight: 400;\"><a href=\"https://giving.amazonconservation.org/page/RiseCampaign\" target=\"_blank\" rel=\"noopener\"><img fetchpriority=\"high\" decoding=\"async\" class=\"alignright wp-image-14246 size-large\" src=\"https://www.amazonconservation.org/wp-content/uploads/2025/08/3-1024x576.png\" alt=\"\" width=\"640\" height=\"360\" srcset=\"https://www.amazonconservation.org/wp-content/uploads/2025/08/3-1024x576.png 1024w, https://www.amazonconservation.org/wp-content/uploads/2025/08/3-300x169.png 300w, https://www.amazonconservation.org/wp-content/uploads/2025/08/3-768x432.png 768w, https://www.amazonconservation.org/wp-content/uploads/2025/08/3.png 1248w\" sizes=\"(max-width: 640px) 100vw, 640px\" /></a>For 25 years, Amazon Conservation has worked hand in hand with Indigenous communities, scientists, and local partners to protect the Amazon’s most important forests and rivers. From the remote biological stations in the heart of the rainforest to remote, biodiversity-rich protected areas, our teams are on the ground monitoring wildlife, restoring habitats, and supporting sustainable livelihoods that keep the Amazon standing. </span></p>\n<p><span style=\"font-weight: 400;\">Yet this irreplaceable forest faces mounting threats from deforestation and climate change, making our work more urgent than ever.</span></p>\n<p><span style=\"font-weight: 400;\">In just one week, on </span><b>September 5</b><span style=\"font-weight: 400;\">, we come together for our inaugural </span><b><i>Rise for the Amazon Day</i></b><span style=\"font-weight: 400;\">, a global call to action to protect the forests that give the world so much–in the form of air, food, water, medicine, and climate stability–and support the local communities who depend on them. This day is about more than awareness; it is about joining the movement to defend the Amazon’s wildlife, conserve rivers and waterways, and empower local and Indigenous leaders working tirelessly to safeguard their ancestral lands. </span></p>\n<p><b>Together, we can protect the Amazon Rainforest–for us all.</b></p>\n<h2><b>A Special Invitation for Our Donors</b></h2>\n<p><span style=\"font-weight: 400;\">To show our gratitude for your ongoing support, </span><b>all donors will receive an invitation to a donor-only webinar on September 16</b><span style=\"font-weight: 400;\">. This virtual event will provide exclusive previews of major findings and the latest news on our conservation work directly from experts in the field, as well as the opportunity to interact and ask any questions to these scientists. This is our way of bringing you closer to the impact you help make possible.</span></p>\n<p><a href=\"https://giving.amazonconservation.org/page/RiseCampaign\"><span style=\"font-weight: 400;\">Donate today before the webinar fills up!</span></a></p>\n<h2><b>Make an Impact</b></h2>\n<p><b><i>Rise for the Amazon Day</i></b><span style=\"font-weight: 400;\"> is a perfect opportunity to explore </span><a href=\"https://www.freewill.com/smartgiving/amazonconservation\"><b>smart giving strategies</b></a><span style=\"font-weight: 400;\"> that maximize your impact. Even in an uncertain economy, there are multiple ways to contribute to support nature without impacting your current budget and taking advantage of tax benefits. Here are some ways to give thoughtfully while supporting the Amazon:</span></p>\n<ul>\n<li style=\"font-weight: 400;\" aria-level=\"1\"><b>Monthly or Recurring Gifts</b><span style=\"font-weight: 400;\">: Split your high-impact annual donation into </span><a href=\"https://www.amazonconservation.org/take-action/wild-keepers/\"><span style=\"font-weight: 400;\">manageable monthly contributions</span></a><span style=\"font-weight: 400;\"> to maximize your impact, while also giving our teams predictable resources to protect the forest year-round.</span></li>\n<li style=\"font-weight: 400;\" aria-level=\"1\"><b>Donor-Advised Funds (DAFs)</b><span style=\"font-weight: 400;\">: A DAF allows you to make a charitable contribution, receive an immediate tax benefit, and recommend grants to Amazon Conservation over time. Learn more and start your DAF gift</span><a href=\"https://www.freewill.com/smartgiving/amazonconservation?product=DAF\"> <span style=\"font-weight: 400;\">here</span></a><span style=\"font-weight: 400;\">.</span></li>\n<li style=\"font-weight: 400;\" aria-level=\"1\"><b>Gifts from Your Estate</b><span style=\"font-weight: 400;\">: Plan a future gift through your </span><a href=\"https://fw-amazonconservation.netlify.app/\"><span style=\"font-weight: 400;\">will or estate</span></a><span style=\"font-weight: 400;\"> that supports the Amazon for generations to come. This is a meaningful way to leave a lasting legacy.</span></li>\n<li style=\"font-weight: 400;\" aria-level=\"1\"><b>Matching Gifts and Corporate Giving</b><span style=\"font-weight: 400;\">: Many employers match charitable contributions made by their employees. </span><a href=\"https://www.amazonconservation.org/matching-gifts/\"><span style=\"font-weight: 400;\">Check if your company offers a matching program</span></a><span style=\"font-weight: 400;\"> to double your impact.</span></li>\n<li style=\"font-weight: 400;\" aria-level=\"1\"><b>Gifts of Appreciated Assets</b><span style=\"font-weight: 400;\">: Contributing stocks, mutual funds, or other assets can provide significant tax advantages while supporting critical conservation work. </span><a href=\"https://www.freewill.com/smartgiving/amazonconservation?product=STOCK_GIFT\"><span style=\"font-weight: 400;\">Learn more about these options here.</span></a></li>\n</ul>\n<p><span style=\"font-weight: 400;\">These strategies allow you to give smarter, make a bigger impact, and ensure your support is tailored to your goals and values. Every gift helps protect wildlife, support Amazonian families, and keep forests standing and thriving.</span></p>\n<div class=\"embed-responsive embed-responsive-16by9\"><iframe title=\"Rise for the Amazon Day. Together, we can protect the forest…and ourselves.\" width=\"640\" height=\"360\" src=\"https://www.youtube.com/embed/-C4tCFc8P8Y?feature=oembed\" frameborder=\"0\" allow=\"accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share\" referrerpolicy=\"strict-origin-when-cross-origin\" allowfullscreen></iframe></div>\n<p>&nbsp;</p>\n<p><span style=\"font-weight: 400;\">As we look ahead over the next week towards this first </span><i><span style=\"font-weight: 400;\">Rise for the Amazon Day</span></i><span style=\"font-weight: 400;\">, we invite you to reflect on the difference we can make when we work together. Stay tuned for more details about the donor-exclusive webinar and other ways to engage. </span><span style=\"font-weight: 400;\">Your support is what makes this movement possible.</span></p>\n<h2><b>Together, we can protect the Amazon Rainforest–for us all.</b></h2>\n<p>&nbsp;</p>\n<p style=\"text-align: center;\">\n<p>&nbsp;</p>\n<p>The post <a href=\"https://www.amazonconservation.org/one-week-until-rise-for-the-amazon-day/\">One Week Until Rise for the Amazon Day</a> appeared first on <a href=\"https://www.amazonconservation.org\">Amazon Conservation Association</a>.</p>\n","content:encodedSnippet":"For 25 years, Amazon Conservation has worked hand in hand with Indigenous communities, scientists, and local partners to protect the Amazon’s most important forests and rivers. From the remote biological stations in the heart of the rainforest to remote, biodiversity-rich protected areas, our teams are on the ground monitoring wildlife, restoring habitats, and supporting sustainable livelihoods that keep the Amazon standing. \nYet this irreplaceable forest faces mounting threats from deforestation and climate change, making our work more urgent than ever.\nIn just one week, on September 5, we come together for our inaugural Rise for the Amazon Day, a global call to action to protect the forests that give the world so much–in the form of air, food, water, medicine, and climate stability–and support the local communities who depend on them. This day is about more than awareness; it is about joining the movement to defend the Amazon’s wildlife, conserve rivers and waterways, and empower local and Indigenous leaders working tirelessly to safeguard their ancestral lands. \nTogether, we can protect the Amazon Rainforest–for us all.\nA Special Invitation for Our Donors\nTo show our gratitude for your ongoing support, all donors will receive an invitation to a donor-only webinar on September 16. This virtual event will provide exclusive previews of major findings and the latest news on our conservation work directly from experts in the field, as well as the opportunity to interact and ask any questions to these scientists. This is our way of bringing you closer to the impact you help make possible.\nDonate today before the webinar fills up!\nMake an Impact\nRise for the Amazon Day is a perfect opportunity to explore smart giving strategies that maximize your impact. Even in an uncertain economy, there are multiple ways to contribute to support nature without impacting your current budget and taking advantage of tax benefits. Here are some ways to give thoughtfully while supporting the Amazon:\nMonthly or Recurring Gifts: Split your high-impact annual donation into manageable monthly contributions to maximize your impact, while also giving our teams predictable resources to protect the forest year-round.\nDonor-Advised Funds (DAFs): A DAF allows you to make a charitable contribution, receive an immediate tax benefit, and recommend grants to Amazon Conservation over time. Learn more and start your DAF gift here.\nGifts from Your Estate: Plan a future gift through your will or estate that supports the Amazon for generations to come. This is a meaningful way to leave a lasting legacy.\nMatching Gifts and Corporate Giving: Many employers match charitable contributions made by their employees. Check if your company offers a matching program to double your impact.\nGifts of Appreciated Assets: Contributing stocks, mutual funds, or other assets can provide significant tax advantages while supporting critical conservation work. Learn more about these options here.\nThese strategies allow you to give smarter, make a bigger impact, and ensure your support is tailored to your goals and values. Every gift helps protect wildlife, support Amazonian families, and keep forests standing and thriving.\n\n \nAs we look ahead over the next week towards this first Rise for the Amazon Day, we invite you to reflect on the difference we can make when we work together. Stay tuned for more details about the donor-exclusive webinar and other ways to engage. Your support is what makes this movement possible.\nTogether, we can protect the Amazon Rainforest–for us all.\n \n \nThe post One Week Until Rise for the Amazon Day appeared first on Amazon Conservation Association.","dc:creator":"Heather Hutchison","content":"<p>For 25 years, Amazon Conservation has worked hand in hand with Indigenous communities, scientists, and local partners to protect the Amazon’s most important forests and rivers. From the remote biological stations in the heart of the rainforest to remote, biodiversity-rich protected areas, our teams are on the ground monitoring wildlife, restoring habitats, and supporting sustainable [&#8230;]</p>\n<p>The post <a href=\"https://www.amazonconservation.org/one-week-until-rise-for-the-amazon-day/\">One Week Until Rise for the Amazon Day</a> appeared first on <a href=\"https://www.amazonconservation.org\">Amazon Conservation Association</a>.</p>\n","contentSnippet":"For 25 years, Amazon Conservation has worked hand in hand with Indigenous communities, scientists, and local partners to protect the Amazon’s most important forests and rivers. From the remote biological stations in the heart of the rainforest to remote, biodiversity-rich protected areas, our teams are on the ground monitoring wildlife, restoring habitats, and supporting sustainable […]\nThe post One Week Until Rise for the Amazon Day appeared first on Amazon Conservation Association.","guid":"https://www.amazonconservation.org/?p=14229","categories":["Uncategorized"],"isoDate":"2025-08-28T19:18:15.000Z"},"priority":1}}]},"versionId":"71bbdf59-0543-4456-b357-928633799524","triggerCount":0,"shared":[{"createdAt":"2025-07-19T03:47:44.935Z","updatedAt":"2025-07-19T03:47:44.935Z","role":"workflow:owner","workflowId":"iR3f2ACi161PfQjP","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-19T05:00:52.998Z","updatedAt":"2025-07-19T05:00:52.998Z","id":"rc29VMbrx5Y8ZXWw","name":"LIVE"},{"createdAt":"2025-07-19T05:01:11.919Z","updatedAt":"2025-07-19T05:01:11.919Z","id":"uykKxNNSSeCAm3L8","name":"SUB-WORKFLOW"},{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}