[Marama] - Eco Business News Scrapper(1).json
{"createdAt":"2025-08-24T08:53:33.002Z","updatedAt":"2025-08-24T08:56:10.829Z","id":"v5XoiPDf9sRATRab","name":"[Marama] - Eco Business News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":35}]},"feedUrl":"https://www.eco-business.com/feeds/all/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","json":"={{ $json }}","WebsiteName":"eco business","priority":1},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3888],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"bb661c32-b68d-4293-a723-2cc221a30a20","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-09-03T04:55:00.000Z"}},"meta":null,"pinData":{},"versionId":"c1410f99-de42-4dc3-b893-362529b99ad0","triggerCount":1,"shared":[{"createdAt":"2025-08-24T08:53:33.002Z","updatedAt":"2025-08-24T08:53:33.002Z","role":"workflow:owner","workflowId":"v5XoiPDf9sRATRab","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}