[Marama] - The Ecologist News Scrapper.json
{"createdAt":"2025-07-19T09:18:41.362Z","updatedAt":"2025-07-30T10:51:35.456Z","id":"Qrn27IKyB99vCV05","name":"[Marama] - The Ecologist News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://theecologist.org/news/feed"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","WebsiteName":"The Ecologist","json":"={{ $json }}","priority":5},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3856],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"7f4d911e-c0c9-4db7-831b-dcdb4a38894e","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-07-31T08:50:08.000Z"}},"meta":null,"pinData":{},"versionId":"1d6ca010-6531-487f-b3ed-f46bfd5a12a7","triggerCount":1,"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}