[Marama] - Business Times News Scrapper.json
{"createdAt":"2025-08-24T09:54:49.163Z","updatedAt":"2025-08-26T07:29:17.047Z","id":"nf7X6cYyFaOuYojo","name":"[Marama] - Business Times News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":35}]},"feedUrl":"https://www.businesstimes.com.sg/rss/top-stories"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","WebsiteName":"Business Times","json":"={{ $json }}","priority":1},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3856],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"997282d0-98e4-4a8f-bc69-a58b6168b852","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-09-03T11:29:05.000Z"}},"meta":null,"pinData":{"RSS Feed Trigger":[{"json":{"creator":"Jessie  Lim","title":"URA releases first Newton area housing site for sale  ","link":"https://www.businesstimes.com.sg/property/ura-releases-first-newton-area-housing-site-sale","pubDate":"Tue, 26 Aug 2025 03:50:46 +0000","dc:creator":"Jessie  Lim","content":"The government has plans for 5,000 private homes around three clusters in Newton Circus, Scotts Road and Monk’s Hill","contentSnippet":"The government has plans for 5,000 private homes around three clusters in Newton Circus, Scotts Road and Monk’s Hill","guid":"/property/ura-releases-first-newton-area-housing-site-sale","categories":["Property"],"isoDate":"2025-08-26T03:50:46.000Z","ecosystem":["Place-Based / Cities"],"industries":"[\"Agriculture, Forestry & Fishing\"]","media":[],"summery":"The government plans to build 5,000 private homes in three clusters located at Newton Circus, Scotts Road, and Monk’s Hill. This initiative aims to enhance housing availability in these areas, addressing the growing demand for private residences. The project emphasizes sustainable development and urban renewal, aligning with current housing policies.","sentimentalAnalysis":null,"importance":"0.6","priority":"1"}},{"json":{"creator":"Chloe Lim","title":"Mitsubishi Corp buys strategic stake in Singapore’s Fullerton Health","link":"https://www.businesstimes.com.sg/companies-markets/mitsubishi-corp-buys-strategic-stake-singapores-fullerton-health","pubDate":"Tue, 26 Aug 2025 03:39:04 +0000","dc:creator":"Chloe Lim","content":"Fullerton Health notes that it will leverage its ‘robust footprint’ as well as digital and AI capabilities to roll out regional and...","contentSnippet":"Fullerton Health notes that it will leverage its ‘robust footprint’ as well as digital and AI capabilities to roll out regional and...","guid":"/companies-markets/mitsubishi-corp-buys-strategic-stake-singapores-fullerton-health","categories":["Companies & Markets","Consumer & Healthcare"],"isoDate":"2025-08-26T03:39:04.000Z"}},{"json":{"title":"BYD ships first made-in-Thailand EVs to Europe","link":"https://www.businesstimes.com.sg/international/asean/byd-ships-first-made-thailand-evs-europe","pubDate":"Tue, 26 Aug 2025 04:20:06 +0000","content":"BYD Thailand faces competition abroad not just from other Chinese car companies but from other BYD factories","contentSnippet":"BYD Thailand faces competition abroad not just from other Chinese car companies but from other BYD factories","guid":"/international/asean/byd-ships-first-made-thailand-evs-europe","categories":["Asean","Companies & Markets","International","Transport & Logistics"],"isoDate":"2025-08-26T04:20:06.000Z"}}]},"versionId":"634bc1cd-f210-45fe-8774-7a6e0bea371c","triggerCount":1,"shared":[{"createdAt":"2025-08-24T09:54:49.163Z","updatedAt":"2025-08-24T09:54:49.163Z","role":"workflow:owner","workflowId":"nf7X6cYyFaOuYojo","projectId":"ZESBjGt79se81N5E"}],"tags":[]}