[Marama] - Protectbaltic News Scrapper.json
{"createdAt":"2025-08-31T02:18:55.071Z","updatedAt":"2025-08-31T02:24:13.232Z","id":"CLKlWAWU9G3ixnbJ","name":"[Marama] - Protectbaltic News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":40}]},"feedUrl":"https://protectbaltic.eu/news/f.rss"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json[\"content:encodedSnippet\"] }}","ContentHTML":"={{ $json[\"content:encoded\"] }}","json":"={{ $json }}","WebsiteName":"Protectbaltic","priority":1},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3856],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"63c489fa-2559-46ec-ba33-812c03bc89e8","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-29T06:00:00.000Z"}},"meta":null,"pinData":{},"versionId":"c10849e4-08a2-46c1-a000-3fb42c267574","triggerCount":1,"shared":[{"createdAt":"2025-08-31T02:18:55.071Z","updatedAt":"2025-08-31T02:18:55.071Z","role":"workflow:owner","workflowId":"CLKlWAWU9G3ixnbJ","projectId":"ZESBjGt79se81N5E"}],"tags":[]}