[Marama] - IJIM Times article on NKAR Indigenous Commission News Scrapper.json
{"createdAt":"2025-08-05T10:19:46.918Z","updatedAt":"2025-08-23T23:11:15.187Z","id":"E63zwa3BE2rR2kY5","name":"[Marama] - IJIM Times article on NKAR Indigenous Commission News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://ijimtimes.com/feed/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","WebsiteName":"My Plastic Free Life ","json":"={{ $json }}"},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3856],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"cc58b1f0-4989-4a81-8528-922f63bd3892","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-05T17:40:20.000Z"}},"meta":null,"pinData":{},"versionId":"d1a2f21a-e8d6-4d99-abf8-b4849fbb8c1e","triggerCount":1,"shared":[{"createdAt":"2025-08-05T10:19:46.918Z","updatedAt":"2025-08-05T10:19:46.918Z","role":"workflow:owner","workflowId":"E63zwa3BE2rR2kY5","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}