[Marama] - Earth.org News Scrapper.json
{"createdAt":"2025-07-17T10:52:50.441Z","updatedAt":"2025-08-04T07:42:40.448Z","id":"BbMRObF9ryHGICyV","name":"[Marama] - Earth.org News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://earth.org/feed/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3568],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json[\"content:encodedSnippet\"] }}","ContentHTML":"={{ $json[\"content:encoded\"] }}","WebsiteName":"Earth Org","json":"={{ $json }}","priority":5},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13008,3600],"id":"7cbbf93b-14c2-469c-8581-911a3c4a9f96","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13296,3568],"id":"471ccd37-6e72-4fc1-825a-76be3d3ba33a","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-12T06:35:39.000Z"}},"meta":null,"pinData":{"RSS Feed Trigger":[{"json":{"creator":"Martina Igini","title":"Barclays Joins Wall Street-Led Exodus From Net-Zero Alliance","link":"https://earth.org/barclays-joins-wall-street-led-exodus-from-net-zero-alliance/","pubDate":"Mon, 04 Aug 2025 01:54:27 +0000","content:encoded":"<img src=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg\" class=\"attachment-large size-large wp-post-image\" alt=\"Barclays headquarters in London.\" style=\"float:left; margin:0 15px 15px 0;\" decoding=\"async\" srcset=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg 1024w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-300x200.jpg 300w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-768x512.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /><p><img src=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg\" class=\"attachment-post-thumbnail size-post-thumbnail wp-post-image\" alt=\"Barclays headquarters in London.\" decoding=\"async\" srcset=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg 1024w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-300x200.jpg 300w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-768x512.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></p>\n<p><strong>Last month, HSBC became the first major European bank to pull out of the UN-sponsored alliance.</strong></p>\n\n\n\n<p><strong>—</strong></p>\n\n\n\n<p>London-headquartered Barclays has announced it is withdrawing from the industry’s largest net-zero alliance, following the departure of some of the world&#8217;s largest banks. </p>\n\n\n\n<p>&#8220;After consideration, we have decided to withdraw from the Net Zero Banking Alliance,&#8221; the British bank said in a <a href=\"https://home.barclays/news/press-releases/2025/08/Statement-on-the-Net-Zero-Banking-Alliance/\" target=\"_blank\">statement</a> on Friday, arguing it &#8220;no longer has the membership to support our transition&#8221; after losing more than a dozen of its key members in recent months.  </p>\n\n\n\n<p>The UN-sponsored initiative was set up in 2021 by former Bank of Canada Governor Mark Carney to encourage financial institutions to limit the environmental footprint of their operations and push toward achieving net-zero emissions by 2050, with members required to set five-year goals for reducing the financed emissions from high-carbon sectors.</p>\n\n\n\n<p>Last month, British HSBC became the <a href=\"https://earth.org/hsbc-joins-wall-street-led-exodus-from-net-zero-alliance/\" target=\"_blank\">first major European bank to exit the alliance</a>. Before it, several major Wall Street also stepped down, among them Goldman Sachs, JPMorgan, Bank of America, Morgan Stanley, Citigroup, Wells Fargo, and <a href=\"https://earth.org/canadas-biggest-banks-join-wall-street-led-exodus-from-climate-alliance/\" target=\"_blank\">Canada’s six biggest banks</a>.</p>\n\n\n\n<p>The alliance currently counts 126 banks across 44 countries, down from 144 banks in October 2024, according to its <a href=\"https://www.unepfi.org/net-zero-banking/members/\" target=\"_blank\" rel=\"noreferrer noopener\">website</a>.</p>\n\n\n\n<p>In an interview a day before Barclays&#8217; announcement, Standard Chartered&#8217;s CEO Bill Winters condemned its rival banks for dropping out: “People that said a lot of stuff, but [when] it was fashionable to say it, [and] who are saying either nothing or the opposite now: shame on them.&#8221;</p>\n\n\n\n<p>He <a href=\"https://www.bloomberg.com/news/articles/2025-07-31/stanchart-ceo-says-shame-on-them-of-banks-quitting-net-zero\" target=\"_blank\">added</a> that its clients &#8220;haven’t backed away at all&#8221; from their climate goals, despite anti-climate taking hold particularly in the US in recent months. “A lot of these projects just make sense economically,” Winters added. “Most continue to honour the obligations that they made to their shareholders or other stakeholders early on, independent of political noise one way or the other,” he said.</p>\n\n\n\n<p>Barclays – like all other institutions that have withdrawn the alliance – said it remained committed to its net-zero goal. &#8220;We continue to work with our clients on their transition, finance the transition and scale climate tech, while helping to ensure energy security for our customers and clients,&#8221; it said in the statement. </p>\n\n\n\n<p>However, analysts say the moves send a clear signal to the market that climate change has become even less of a priority for financial institutions.</p>\n\n\n\n<p>Following the first wave of high-profile exits, NZBA in April <a href=\"https://www.bloomberg.com/news/articles/2025-04-15/bank-climate-group-wins-overwhelming-support-for-new-direction\" target=\"_blank\">announced</a> it was shifting its strategy from target setting to providing financial support for the energy transition, and was no longer requiring its signatories to align their portfolios to the 1.5C global warming target set out in the Paris Agreement. </p>\n\n\n\n<p><em>Featured image: Wikimedia Commons.</em></p>\n\n\n\n<div class=\"wp-block-columns alignwide is-layout-flex wp-container-core-columns-is-layout-829b1d53 wp-block-columns-is-layout-flex\" style=\"margin-bottom:0\">\n<div class=\"wp-block-column has-text-color has-background has-link-color wp-elements-e9b6a9b429bfc6bfddc9d534a1522ca2 is-layout-flow wp-block-column-is-layout-flow\" style=\"color:#000000;background-color:#ffe97d;padding-top:2em;padding-right:2em;padding-bottom:2em;padding-left:2em\">\n<h2 class=\"wp-block-heading\" id=\"single\" style=\"font-size:40px\"><strong>This story is funded by readers like you</strong></h2>\n\n\n\n<p class=\"has-normal-font-size\" style=\"line-height:1.5\">Our non-profit newsroom provides climate coverage free of charge and advertising. Your one-off or monthly donations play a crucial role in supporting our operations, expanding our reach, and maintaining our editorial independence.</p>\n\n\n\n<p class=\"has-text-align-center\"><a href=\"https://earth.org/about-us/\" target=\"_blank\">About EO</a>  |   <a href=\"https://earth.org/mission-statement/\" target=\"_blank\">Mission Statement</a>   |   <a href=\"https://earth.org/impact-and-reach/\" target=\"_blank\">Impact &amp; Reach</a>   |   <a href=\"https://earth.org/join-the-team/\" target=\"_blank\">Write for us</a></p>\n\n\n\n<div class=\"wp-block-buttons alignfull is-horizontal is-content-justification-center is-layout-flex wp-container-core-buttons-is-layout-499968f5 wp-block-buttons-is-layout-flex\">\n<div class=\"wp-block-button has-custom-width wp-block-button__width-100\"><a class=\"wp-block-button__link has-white-color has-text-color has-background no-border-radius wp-element-button\" href=\"https://earth.org/donations/\" style=\"background-color:#000000\" target=\"_blank\">Donate now</a></div>\n</div>\n</div>\n</div>\n<p>The post <a rel=\"nofollow\" href=\"https://earth.org/barclays-joins-wall-street-led-exodus-from-net-zero-alliance/\">Barclays Joins Wall Street-Led Exodus From Net-Zero Alliance</a> appeared first on <a rel=\"nofollow\" href=\"https://earth.org\">Earth.Org</a>.</p>\n","content:encodedSnippet":"Last month, HSBC became the first major European bank to pull out of the UN-sponsored alliance.\n—\nLondon-headquartered Barclays has announced it is withdrawing from the industry’s largest net-zero alliance, following the departure of some of the world’s largest banks. \n“After consideration, we have decided to withdraw from the Net Zero Banking Alliance,” the British bank said in a statement on Friday, arguing it “no longer has the membership to support our transition” after losing more than a dozen of its key members in recent months.  \nThe UN-sponsored initiative was set up in 2021 by former Bank of Canada Governor Mark Carney to encourage financial institutions to limit the environmental footprint of their operations and push toward achieving net-zero emissions by 2050, with members required to set five-year goals for reducing the financed emissions from high-carbon sectors.\nLast month, British HSBC became the first major European bank to exit the alliance. Before it, several major Wall Street also stepped down, among them Goldman Sachs, JPMorgan, Bank of America, Morgan Stanley, Citigroup, Wells Fargo, and Canada’s six biggest banks.\nThe alliance currently counts 126 banks across 44 countries, down from 144 banks in October 2024, according to its website.\nIn an interview a day before Barclays’ announcement, Standard Chartered’s CEO Bill Winters condemned its rival banks for dropping out: “People that said a lot of stuff, but [when] it was fashionable to say it, [and] who are saying either nothing or the opposite now: shame on them.”\nHe added that its clients “haven’t backed away at all” from their climate goals, despite anti-climate taking hold particularly in the US in recent months. “A lot of these projects just make sense economically,” Winters added. “Most continue to honour the obligations that they made to their shareholders or other stakeholders early on, independent of political noise one way or the other,” he said.\nBarclays – like all other institutions that have withdrawn the alliance – said it remained committed to its net-zero goal. “We continue to work with our clients on their transition, finance the transition and scale climate tech, while helping to ensure energy security for our customers and clients,” it said in the statement. \nHowever, analysts say the moves send a clear signal to the market that climate change has become even less of a priority for financial institutions.\nFollowing the first wave of high-profile exits, NZBA in April announced it was shifting its strategy from target setting to providing financial support for the energy transition, and was no longer requiring its signatories to align their portfolios to the 1.5C global warming target set out in the Paris Agreement. \nFeatured image: Wikimedia Commons.\nThis story is funded by readers like you\nOur non-profit newsroom provides climate coverage free of charge and advertising. Your one-off or monthly donations play a crucial role in supporting our operations, expanding our reach, and maintaining our editorial independence.\nAbout EO  |   Mission Statement   |   Impact & Reach   |   Write for us\nDonate now\nThe post Barclays Joins Wall Street-Led Exodus From Net-Zero Alliance appeared first on Earth.Org.","dc:creator":"Martina Igini","content":"<p><img src=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg\" class=\"attachment-large size-large wp-post-image\" alt=\"Barclays headquarters in London.\" style=\"float:left; margin:0 15px 15px 0;\" decoding=\"async\" srcset=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg 1024w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-300x200.jpg 300w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-768x512.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></p>\n<p><img src=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg\" class=\"attachment-post-thumbnail size-post-thumbnail wp-post-image\" alt=\"Barclays headquarters in London.\" decoding=\"async\" fetchpriority=\"high\" srcset=\"https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1.jpg 1024w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-300x200.jpg 300w, https://earth.org/wp-content/uploads/2025/08/1024-x-683-px-1-768x512.jpg 768w\" sizes=\"(max-width: 1024px) 100vw, 1024px\" /></p>\n<p>Last month, HSBC became the first major European bank to pull out of the UN-sponsored alliance. — London-headquartered Barclays has announced it is withdrawing from the industry’s largest [&#8230;]</p>\n<p>The post <a rel=\"nofollow\" href=\"https://earth.org/barclays-joins-wall-street-led-exodus-from-net-zero-alliance/\">Barclays Joins Wall Street-Led Exodus From Net-Zero Alliance</a> appeared first on <a rel=\"nofollow\" href=\"https://earth.org\">Earth.Org</a>.</p>\n","contentSnippet":"Last month, HSBC became the first major European bank to pull out of the UN-sponsored alliance. — London-headquartered Barclays has announced it is withdrawing from the industry’s largest […]\nThe post Barclays Joins Wall Street-Led Exodus From Net-Zero Alliance appeared first on Earth.Org.","guid":"https://earth.org/?p=38905","categories":["Policy & Economics","barclays","hsbc","net zero","net zero banking alliance"],"isoDate":"2025-08-04T01:54:27.000Z","ecosystem":["Climate & Carbon","Sustainability / ESG / Six Capitals"],"media":null,"summery":"Barclays has announced its withdrawal from the Net Zero Banking Alliance, following a trend set by major banks like HSBC, Goldman Sachs, and JPMorgan. The alliance, established in 2021 by former Bank of Canada Governor Mark Carney, aimed to help financial institutions achieve net-zero emissions by 2050. Barclays justified its exit, citing the loss of key members that made it challenging to support the alliance's objectives. Currently, the number of banks in the alliance has decreased to 126 from 144 in October 2024. Despite the pullout, analysts express concern that this signals a declining priority for climate initiatives among banks. Standard Chartered CEO Bill Winters criticized the exits but noted that many clients remain committed to their climate goals.","sentimentalAnalysis":{"category":"Negative","strength":0.8,"confidence":0.9},"priority":"5"}}]},"versionId":"624ca886-1665-40c6-a42f-fec75a507f20","triggerCount":1,"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}