[Marama] - Down To Earth News Scrapper.json
{"createdAt":"2025-08-23T03:41:13.761Z","updatedAt":"2025-08-23T23:05:24.170Z","id":"aSBXmJpXZzXE1YdC","name":"[Marama] - Down To Earth News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":10}]},"feedUrl":"https://prod-qt-images.s3.amazonaws.com/production/downtoearth/feed.xml"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3984],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.output.Content }}","ContentHTML":"={{ $json.output.Figures_URLs }}","WebsiteName":"Down To Earth","json":"={{ $json }}"},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-12496,3984],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13296,3984],"id":"a7fc5c6a-0751-4c93-9256-5478d3acbc8b","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13072,3856],"id":"36504eb3-89c2-46e9-ba5c-7221d5348673","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=You are an expert at extracting structured article content from raw HTML pages provided in {{ $json.data }}.\n\nBegin with a concise checklist (3-7 bullets) of what you will do; keep items conceptual, not implementation-level.\n\nGiven the raw HTML of a news or scientific article, extract the following fields if available:\n\n- **Content**: Provide a descriptive summary of the article's content, ensuring all information is clear and well-organized.\n- **Figure URL**: Extract and list all URLs for figures (images, charts, diagrams) that are relevant to the article's main content.\n\n### Important Rules\n- Ignore and exclude ads, navigation bars, comments, related links, subscription banners, social buttons, footers, scripts, and styles from the extraction.\n- Remove all HTML tags from the extracted text.\n- Ensure the **Content** field is clean, well-spaced, and organized in the correct paragraph order.\n- If a requested field is not present in the article, omit it from the output instead of returning `null` or an empty string.\n\nAfter extraction, validate that the output contains only the required clean fields and that no extraneous content (ads, navigation, duplicate data) remains. If validation fails, revise the extraction to ensure correct field content and structure.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-12848,3856],"id":"5f980441-f068-4804-9dc8-b092a9285484","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"Content\": \"State of e-waste: Lethal detritus piling up in India. The country has recorded a 147 per cent increase in e-waste generation over the past seven years.\",\n  \"Tags\": [\"ewaste\", \"E-waste recycling\", \"State of e-waste\", \"e-waste management\"],\n  \"Author\": \"DTE Staff\",\n  \"Published_on\": \"2025-08-23T03:04:00\",\n  \"Figures_URLs\": [\"https://www.downtoearth.org.in/figures/state-of-e-waste-2025\", \"https://www.downtoearth.org.in/figures/state-of-e-waste-2024\"],\n  \"HTML_Code\": \"<html><head><title>State of e-waste: Lethal detritus piling up in India</title></head><body><p>The country has recorded a 147 per cent increase in e-waste generation over the past seven years.</p></body></html>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-12720,4080],"id":"9cb6e2bc-76f6-4a23-958f-c1243fd3fac0","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-12848,4080],"id":"b88f10cf-9d37-4d03-bec6-5eb251852794","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-09-03T10:51:26.631Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"e46ef771-cfab-4b2f-a87f-3d5fc4dd9e0d","triggerCount":1,"shared":[{"createdAt":"2025-08-23T03:41:13.761Z","updatedAt":"2025-08-23T03:41:13.761Z","role":"workflow:owner","workflowId":"aSBXmJpXZzXE1YdC","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}