[Marama] - ScienceDaily – Sustainability News Scrapper.json
{"createdAt":"2025-07-17T10:48:18.398Z","updatedAt":"2025-07-30T10:55:23.338Z","id":"irWpYkaJYuv2i3ag","name":"[Marama] - ScienceDaily – Sustainability News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://sciencedaily.com/rss/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-15088,3424],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.content }}","ContentHTML":"={{ $json.contentSnippet }}","WebsiteName":"ScienceDaily – Sustainability","json":"={{ $json }}","priority":5},"matchingColumns":["content","contentSnippet",""],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"removed":false},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-14608,3424],"name":"Call [Marama] News-feeder","id":"45d11647-a12d-4c87-ae47-889dbb43219c"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-14880,3424],"id":"c3b73fe5-d427-4358-b944-69306c737a93","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Call [Marama] News-feeder","type":"main","index":0}]]},"Call [Marama] News-feeder":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-14T14:29:13.000Z"}},"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"179c5d6d-47ab-452b-a054-265993fd3e7d","triggerCount":1,"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}