[Marama] - Nature News Scrapper.json
{"createdAt":"2025-08-21T09:10:08.597Z","updatedAt":"2025-08-22T10:00:32.179Z","id":"yN5s9yod7cnuQpSd","name":"[Marama] - Nature News Scrapper","active":false,"isArchived":false,"nodes":[{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"json":"={{ $json }}","WebsiteName":"Nature","Content":"={{ $json.output.Abstract }}","ContentHTML":"={{ $('HTTP Request1').item.json.data }}","priority":0},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-11984,4000],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-12784,3996],"id":"116e88fe-d277-439f-bb43-971959e11872","name":"Loop Over Items"},{"parameters":{"url":"https://www.nature.com/subjects/biodiversity.rss","sendHeaders":true,"specifyHeaders":"json","jsonHeaders":"{\n  \"User-Agent\": \"Mozilla/5.0\",\n  \"Accept\": \"application/rss+xml, application/xml;q=0.9, */*;q=0.8\"\n}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13456,3996],"id":"a7ecd1ef-402b-4c31-8e58-27f5c7fcaa38","name":"HTTP Request"},{"parameters":{},"type":"n8n-nodes-base.manualTrigger","typeVersion":1,"position":[-13680,3996],"id":"849e1a2f-d179-4ebc-92c2-18523c1a5b54","name":"When clicking ‘Execute workflow’"},{"parameters":{"options":{}},"type":"n8n-nodes-base.xml","typeVersion":1,"position":[-13232,3996],"id":"b8050367-798b-4179-bb8b-6449201a2ab7","name":"XML"},{"parameters":{"fieldToSplitOut":"rss.channel.item","options":{}},"type":"n8n-nodes-base.splitOut","typeVersion":1,"position":[-13008,3996],"id":"9542c03d-b70d-471d-bf4d-fb6c00a9b9c3","name":"Split Out"},{"parameters":{"url":"https://www.nature.com/articles/s41598-025-15632-2","options":{"redirect":{"redirect":{}}}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-12560,3872],"id":"33c27c9a-2ef8-4d36-9d66-e33a531b9563","name":"HTTP Request1"},{"parameters":{"promptType":"define","text":"=You are an expert in extracting structured scientific content from HTML documents. Given the HTML content of a scientific article page from Nature (https://www.nature.com), extract the following key sections if they exist:\n\n1. Title of the article\n2. Authors\n3. Abstract or summery\n\n\nIgnore any HTML tags, JavaScript, navigation bars, cookies, and non-article content. Return the result in clean plain text format with clear section headers. If a section is not present, simply skip it without commenting.\n\nHere is the HTML:{{ $json.data }}","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-12336,3872],"id":"35ec78e3-66c7-42e5-8cf6-fa03fc38bf6a","name":"AI Agent"},{"parameters":{"schemaType":"manual","inputSchema":"{\n  \"content\": \"<!-- FULL HTML GOES HERE -->\",\n  \"extracted\": {\n    \"title\": \"string\",\n    \"authors\": [\"string\"],\n    \"abstract\": \"string\",\n    \"introduction\": \"string\",\n    \"methods\": \"string\",\n    \"results\": \"string\",\n    \"discussion\": \"string\",\n    \"conclusion\": \"string\",\n    \"references\": [\"string\"]\n  }\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-12200,4096],"id":"bdfb6c66-f747-40a3-8c94-5bfb4ed9ffd5","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-12328,4096],"id":"9a4dba56-6b89-4572-befd-5bcc7012e87a","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}}],"connections":{"Loop Over Items":{"main":[[],[{"node":"HTTP Request1","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"XML","type":"main","index":0}]]},"When clicking ‘Execute workflow’":{"main":[[{"node":"HTTP Request","type":"main","index":0}]]},"XML":{"main":[[{"node":"Split Out","type":"main","index":0}]]},"Split Out":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request1":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"AI Agent":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":null,"meta":{"templateCredsSetupCompleted":true},"pinData":{},"versionId":"8c7cc6de-d76d-409c-9f8c-dc3dd15c5f58","triggerCount":0,"shared":[{"createdAt":"2025-08-21T09:10:08.597Z","updatedAt":"2025-08-21T09:10:08.597Z","role":"workflow:owner","workflowId":"yN5s9yod7cnuQpSd","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-18T11:23:18.064Z","updatedAt":"2025-07-18T11:23:18.064Z","id":"k1gaKM3TTp9UDSRe","name":"RE-VERIFY"}]}