[Marama] - ScienceDaily – Sustainability News Scrapper.json
{"createdAt":"2025-07-12T05:29:13.435Z","updatedAt":"2025-07-17T10:37:20.192Z","id":"rjSkMytCT0yQeW8h","name":"[Marama] - ScienceDaily – Sustainability News Scrapper","active":false,"isArchived":true,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"feedUrl":"https://sciencedaily.com/rss/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,2540],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"inputText":"={{ $json.contentSnippet }}","categories":{"categories":[{"category":"Art / Design / Culture","description":"Explores how creative expression, aesthetics, and cultural narratives influence sustainability, inspire environmental action, and shape sustainable lifestyles through design, visual arts, literature, and cultural heritage."},{"category":"Behaviour Change","description":"Focuses on strategies, psychology, and social science methods to shift individual or collective human behaviour toward more sustainable practices and consumption patterns."},{"category":"Blue Economy","description":"Encompasses sustainable use of ocean and water resources for economic growth, improved livelihoods, and ocean ecosystem health, covering sectors like fisheries, renewable marine energy, and coastal tourism."},{"category":"Biodiversity","description":"Addresses the variety and variability of life on Earth, including conservation of species, genetic diversity, and ecosystem resilience, and the importance of maintaining biodiversity for sustainable systems."},{"category":"Biomimicry","description":"Studies and applies nature's designs, processes, and systems as models for creating sustainable technologies, materials, architecture, and solutions that mimic biological strategies."},{"category":"Bioregional","description":"Centers on designing sustainable societies and economies aligned with the ecological boundaries, resources, and cultural identity of specific geographical regions, emphasizing local resilience and place-based solutions."},{"category":"Circular / Spiral Economy","description":"Promotes an economic model where resources are kept in use as long as possible through reuse, repair, remanufacture, recycling, and regenerative flows, minimizing waste and resource extraction."},{"category":"Climate & Carbon","description":"Relates to greenhouse gas emissions, climate science, carbon footprints, mitigation strategies, adaptation, carbon markets, and climate policy aiming to address global warming and climate change impacts."},{"category":"Conservation","description":"Refers to the protection, preservation, and sustainable management of natural resources, habitats, and species to maintain biodiversity and ecosystem services for present and future generations."},{"category":"Cradle to Cradle","description":"A design philosophy promoting products and systems created for continuous cycles of reuse, where waste becomes input for new processes, eliminating the concept of waste altogether."},{"category":"Degrowth / Steady State","description":"Advocates for scaling down production and consumption to align with ecological limits, focusing on well-being over economic growth, or stabilizing economic activity within environmental boundaries."},{"category":"Doughnut Economics","description":"A framework balancing human needs and ecological limits, visualized as a doughnut-shaped space where society can thrive without exceeding planetary boundaries or falling short on social foundations"},{"category":"Ecocide","description":"Addresses acts causing severe damage or destruction to ecosystems, proposing recognition of ecocide as an international crime to hold individuals and corporations accountable for environmental harm."},{"category":"Ecological Footprint","description":"Measures the environmental impact of human activities in terms of the amount of biologically productive land and water required to produce consumed resources and absorb generated waste."},{"category":"Ecology / Deep Ecology","description":"Ecology studies relationships among organisms and their environment. Deep Ecology emphasizes intrinsic value of nature and calls for profound shifts in human consciousness and societal structures to preserve ecosystems."},{"category":"Indigenous","description":"Focuses on the knowledge systems, cultural practices, rights, and contributions of Indigenous peoples regarding sustainable stewardship of land, biodiversity, and natural resources."},{"category":"Modern Slavery","description":"Explores the intersection of human rights and sustainability, highlighting forced labor, human trafficking, and exploitative conditions in supply chains, with implications for sustainable and ethical sourcing."},{"category":"Nature","description":"Broadly encompasses the natural world—including landscapes, ecosystems, flora, and fauna—and its inherent value, aesthetic importance, and contributions to human well-being and sustainability."},{"category":"Place-Based / Cities","description":"Focuses on sustainability initiatives rooted in specific locations, especially urban areas, addressing challenges such as urban planning, sustainable infrastructure, mobility, resilience, and community engagement."},{"category":"Planetary Boundaries","description":"A scientific framework defining Earth system thresholds that should not be exceeded to avoid destabilizing the planet's life-support systems, guiding sustainable development and risk management."},{"category":"Regenerative Thinking","description":"Goes beyond sustainability by aiming to restore and enhance ecosystems, communities, and economies, designing systems that replenish resources and generate net positive impacts."},{"category":"Social Justice & DEI","description":"Covers issues of fairness, equity, diversity, and inclusion within sustainability, addressing how social systems, policies, and practices affect marginalized communities and equitable access to resources."},{"category":"Social Procurement","description":"Involves integrating social and environmental considerations into purchasing decisions, using organizational buying power to generate positive social value and sustainable outcomes in communities."},{"category":"Sustainability / ESG / Six Capitals","description":"Encompasses broad sustainability topics, corporate ESG (Environmental, Social, Governance) strategies, and holistic frameworks like the Six Capitals (financial, manufactured, intellectual, human, social, and natural capital) for measuring sustainable business performance."},{"category":"Symbio(s)cene","description":"A proposed new epoch emphasizing symbiotic relationships between humans and nature, envisioning collaborative, interdependent systems as a response to ecological crises and Anthropocene impacts."},{"category":"Systems Thinking","description":"An approach for understanding complex, interconnected systems, recognizing feedback loops, interdependencies, and unintended consequences to design more effective sustainable solutions."},{"category":"Time Horizons","description":"Refers to how sustainability strategies consider different time scales—from immediate actions to long-term planning—shaping decision-making, risk assessment, and policy development for future generations."}]},"options":{"multiClass":true}},"type":"@n8n/n8n-nodes-langchain.textClassifier","typeVersion":1.1,"position":[-12540,2240],"id":"7c14a02c-093b-45b9-8a47-8fe3b9491511","name":"Text Classifier"},{"parameters":{"model":{"__rl":true,"value":"gpt-4.1-mini","mode":"list","cachedResultName":"gpt-4.1-mini"},"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenAi","typeVersion":1.2,"position":[-12500,3660],"id":"7dfbe4cc-86ee-4e34-bf02-72dac62522c9","name":"OpenAI Chat Model","credentials":{"openAiApi":{"id":"DZZNaMdRaviNSNjI","name":"OpenAi account -marama"}}},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-11520,980],"id":"61986490-be2e-4a06-8a7b-9f3217f9b9d5","name":"Merge"},{"parameters":{"numberInputs":10},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-11520,2980],"id":"80ad7e5b-cff9-4b7e-92ce-86b4f3be4133","name":"Merge1"},{"parameters":{"numberInputs":6},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-11520,4640],"id":"6fe0bf99-71ed-4333-8d1e-b4595a6fbb06","name":"Merge2"},{"parameters":{"numberInputs":3},"type":"n8n-nodes-base.merge","typeVersion":3.2,"position":[-11300,3120],"id":"967affc4-6cd8-463d-8d43-ff74b75b2f46","name":"Merge3"},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,0],"id":"6d68b13e-ddb8-4f3b-9672-87799824f70d","name":"Get a row1","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,200],"id":"bcd4b3fb-6f8b-4f17-aec4-80e587f06de8","name":"Get a row2","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,400],"id":"a566b62f-29a5-485d-a696-fd58bb1ccce8","name":"Get a row3","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,600],"id":"7b6c3436-9422-42b4-bf12-87cac74dc448","name":"Get a row4","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,800],"id":"f56c6959-f90b-4f34-9669-a5a1ec1a206a","name":"Get a row5","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,1000],"id":"e005fe65-f7cc-4fc7-9140-614d8c6f5104","name":"Get a row6","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,1200],"id":"53f960a6-af19-4b1b-8458-7f7db3586931","name":"Get a row7","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,1400],"id":"8465dcf2-7a32-4025-9664-4b693ed48e05","name":"Get a row8","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,1600],"id":"d75a6363-9d5b-4823-9f02-246ef23bb22c","name":"Get a row9","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,1800],"id":"ad2a87cd-9329-435b-87f3-6fbf39009d79","name":"Get a row10","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,2000],"id":"750f98bc-5d7b-42ad-8c0f-707af54d25c9","name":"Get a row11","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,2200],"id":"420f9429-a1bc-4cac-a71d-b3391d9f5a79","name":"Get a row12","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,2400],"id":"e407f097-26ae-4a27-888e-cbf6d65878bd","name":"Get a row13","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,2600],"id":"0f87756f-114f-4962-a147-368f79aa7779","name":"Get a row14","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,2800],"id":"fe1fba1e-ea19-4292-ba80-e721f5caac8c","name":"Get a row15","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,3000],"id":"93b51447-3287-4e20-b32b-ac75a2ac95c8","name":"Get a row16","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,3200],"id":"bd97feb1-c7c7-4455-b464-951ec184fc2c","name":"Get a row17","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,3400],"id":"932eaf1e-02ee-4227-bb37-979b75db9d5f","name":"Get a row18","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,3600],"id":"8bcd4eec-8de5-4c35-a14c-2125b2f11b68","name":"Get a row19","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,3800],"id":"23fe4e42-1c21-4c48-b5c1-d3e20d8bfd25","name":"Get a row20","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,4000],"id":"269b906e-5864-4c7d-a1c5-e9c3f175b899","name":"Get a row21","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,4200],"id":"1a0875a0-17fd-4d21-aa8d-88b4ca7fa779","name":"Get a row22","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,4400],"id":"5cbf336c-df74-44e9-b7ea-befcffebd47b","name":"Get a row23","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,4600],"id":"7ed7f25c-8fe1-435b-b950-fbb00ca2f835","name":"Get a row24","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,4800],"id":"8f9cc7f9-55ac-4e73-999d-6990fbad60e6","name":"Get a row25","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"operation":"get","tableId":"Ecosystem Mapping","filters":{"conditions":[{"keyName":"index","keyValue":"={{ $prevNode.outputIndex }}"}]}},"type":"n8n-nodes-base.supabase","typeVersion":1,"position":[-11740,5000],"id":"7651d63d-ab59-43d3-97c3-b01ba34b2a53","name":"Get a row26","credentials":{"supabaseApi":{"id":"OKkwJZDdi4Mv5WuV","name":"Supabase account Marama"}}},{"parameters":{"fieldsToAggregate":{"fieldToAggregate":[{"fieldToAggregate":"ecosystem"}]},"options":{}},"type":"n8n-nodes-base.aggregate","typeVersion":1,"position":[-11080,3120],"id":"bacd5f6b-7f59-4b2a-ac3b-3087f4f6e642","name":"Aggregate"},{"parameters":{"operation":"upload","bucketName":"data.marama.global","fileName":"=data-gist-{{ new Date().toISOString().slice(0,19).replace(/:/g, '-') }}.json","binaryData":false,"fileContent":"={{ JSON.stringify($json, null, 2) }}","additionalFields":{}},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-10340,2980],"id":"bfefcb65-10ad-4724-8748-e1a9500ff252","name":"Upload a file","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}},"disabled":true},{"parameters":{"functionCode":"const jsonfull = $('RSS Feed Trigger').item.json;\nconst jsoneco = $(\"Aggregate\").item.json;\n\nconst mergedJson = {\n  ...jsonfull,\n  ecosystems: jsoneco.ecosystem\n};\n\nreturn [{ json: mergedJson }];"},"id":"d3a70a28-f74a-4f7b-8f7f-2f98b5aeb6c2","name":"Function Node","type":"n8n-nodes-base.function","position":[-10780,3020],"typeVersion":1},{"parameters":{"bucketName":"data.marama.global","fileKey":"data-gist-2025-07-12T04-27-30.json"},"type":"n8n-nodes-base.awsS3","typeVersion":2,"position":[-10120,2980],"id":"abf7bf28-d5ba-4aca-8046-78077376b853","name":"Download a file","credentials":{"aws":{"id":"Qltpi1gtae6kK7JO","name":"AWS account - Marama"}},"disabled":true}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Text Classifier","type":"main","index":0}]]},"OpenAI Chat Model":{"ai_languageModel":[[{"node":"Text Classifier","type":"ai_languageModel","index":0}]]},"Text Classifier":{"main":[[{"node":"Get a row1","type":"main","index":0}],[{"node":"Get a row2","type":"main","index":0}],[{"node":"Get a row3","type":"main","index":0}],[{"node":"Get a row4","type":"main","index":0}],[{"node":"Get a row5","type":"main","index":0}],[{"node":"Get a row6","type":"main","index":0}],[{"node":"Get a row7","type":"main","index":0}],[{"node":"Get a row8","type":"main","index":0}],[{"node":"Get a row9","type":"main","index":0}],[{"node":"Get a row10","type":"main","index":0}],[{"node":"Get a row11","type":"main","index":0}],[{"node":"Get a row12","type":"main","index":0}],[{"node":"Get a row13","type":"main","index":0}],[{"node":"Get a row14","type":"main","index":0}],[{"node":"Get a row15","type":"main","index":0}],[{"node":"Get a row16","type":"main","index":0}],[{"node":"Get a row17","type":"main","index":0}],[{"node":"Get a row18","type":"main","index":0}],[{"node":"Get a row19","type":"main","index":0}],[{"node":"Get a row20","type":"main","index":0}],[{"node":"Get a row21","type":"main","index":0}],[{"node":"Get a row22","type":"main","index":0}],[{"node":"Get a row23","type":"main","index":0}],[{"node":"Get a row24","type":"main","index":0}],[{"node":"Get a row25","type":"main","index":0}],[{"node":"Get a row26","type":"main","index":0}],[]]},"Merge":{"main":[[{"node":"Merge3","type":"main","index":0}]]},"Merge1":{"main":[[{"node":"Merge3","type":"main","index":1}]]},"Merge2":{"main":[[{"node":"Merge3","type":"main","index":2}]]},"Get a row1":{"main":[[{"node":"Merge","type":"main","index":0}]]},"Get a row2":{"main":[[{"node":"Merge","type":"main","index":1}]]},"Get a row3":{"main":[[{"node":"Merge","type":"main","index":2}]]},"Get a row4":{"main":[[{"node":"Merge","type":"main","index":3}]]},"Get a row5":{"main":[[{"node":"Merge","type":"main","index":4}]]},"Get a row6":{"main":[[{"node":"Merge","type":"main","index":5}]]},"Get a row7":{"main":[[{"node":"Merge","type":"main","index":6}]]},"Get a row8":{"main":[[{"node":"Merge","type":"main","index":7}]]},"Get a row9":{"main":[[{"node":"Merge","type":"main","index":8}]]},"Get a row10":{"main":[[{"node":"Merge","type":"main","index":9}]]},"Get a row11":{"main":[[{"node":"Merge1","type":"main","index":0}]]},"Get a row12":{"main":[[{"node":"Merge1","type":"main","index":1}]]},"Get a row13":{"main":[[{"node":"Merge1","type":"main","index":2}]]},"Get a row14":{"main":[[{"node":"Merge1","type":"main","index":3}]]},"Get a row15":{"main":[[{"node":"Merge1","type":"main","index":4}]]},"Get a row16":{"main":[[{"node":"Merge1","type":"main","index":5}]]},"Get a row17":{"main":[[{"node":"Merge1","type":"main","index":6}]]},"Get a row18":{"main":[[{"node":"Merge1","type":"main","index":7}]]},"Get a row19":{"main":[[{"node":"Merge1","type":"main","index":8}]]},"Get a row20":{"main":[[{"node":"Merge1","type":"main","index":9}]]},"Get a row21":{"main":[[{"node":"Merge2","type":"main","index":0}]]},"Get a row22":{"main":[[{"node":"Merge2","type":"main","index":1}]]},"Get a row23":{"main":[[{"node":"Merge2","type":"main","index":2}]]},"Get a row24":{"main":[[{"node":"Merge2","type":"main","index":3}]]},"Get a row25":{"main":[[{"node":"Merge2","type":"main","index":4}]]},"Get a row26":{"main":[[{"node":"Merge2","type":"main","index":5}]]},"Merge3":{"main":[[{"node":"Aggregate","type":"main","index":0}]]},"Aggregate":{"main":[[{"node":"Function Node","type":"main","index":0}]]},"Function Node":{"main":[[{"node":"Upload a file","type":"main","index":0}]]},"Upload a file":{"main":[[{"node":"Download a file","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-07-17T03:51:08.000Z"}},"meta":null,"pinData":{},"versionId":"564ddb27-7644-4c94-b26b-b95b8548c1ae","triggerCount":1,"shared":[{"createdAt":"2025-07-12T05:29:13.435Z","updatedAt":"2025-07-12T05:29:13.435Z","role":"workflow:owner","workflowId":"rjSkMytCT0yQeW8h","projectId":"ZESBjGt79se81N5E"}],"tags":[]}