[Marama] - Times of India News Scrapper.json
{"createdAt":"2025-08-23T04:27:09.555Z","updatedAt":"2025-08-26T07:17:02.756Z","id":"9PAXN71zVvMMHoEO","name":"[Marama] - Times of India News Scrapper","active":false,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyMinute"}]},"feedUrl":"https://timesofindia.indiatimes.com/rssfeeds/2647163.cms"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3600],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.output.Content }}","ContentHTML":"={{ $('Loop Over Items').item.json.content }}","json":"={{ $json.output }}","WebsiteName":"Times of India","priority":1},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-12496,3600],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13296,3600],"id":"e6fed420-ab6e-40b8-9eef-2156c5f7246c","name":"Loop Over Items"},{"parameters":{"url":"={{ $json.link }}","options":{}},"type":"n8n-nodes-base.httpRequest","typeVersion":4.2,"position":[-13072,3472],"id":"6026ac28-6d0b-4dc9-8ee2-a1b5e4c59efd","name":"HTTP Request"},{"parameters":{"promptType":"define","text":"=You are an expert at extracting structured article content from raw HTML pages provided in {{ $json.data }}.\n\nBegin with a concise checklist (3-7 bullets) of what you will do; keep items conceptual, not implementation-level.\n\nGiven the raw HTML of a news or scientific article, extract the following fields if available:\n\n- **Content**: Provide a descriptive summary of the article's content, ensuring all information is clear and well-organized.\n- **Figure URL**: Extract and list all URLs for figures (images, charts, diagrams) that are relevant to the article's main content.\n\n### Important Rules\n- Ignore and exclude ads, navigation bars, comments, related links, subscription banners, social buttons, footers, scripts, and styles from the extraction.\n- Remove all HTML tags from the extracted text.\n- Ensure the **Content** field is clean, well-spaced, and organized in the correct paragraph order.\n- If a requested field is not present in the article, omit it from the output instead of returning `null` or an empty string.\n\nAfter extraction, validate that the output contains only the required clean fields and that no extraneous content (ads, navigation, duplicate data) remains. If validation fails, revise the extraction to ensure correct field content and structure.","hasOutputParser":true,"options":{}},"type":"@n8n/n8n-nodes-langchain.agent","typeVersion":2.2,"position":[-12848,3472],"id":"23f6b5d1-0d80-453d-82b1-e3a825dd2334","name":"AI Agent"},{"parameters":{"jsonSchemaExample":"{\n  \"Content\": \"State of e-waste: Lethal detritus piling up in India. The country has recorded a 147 per cent increase in e-waste generation over the past seven years.\",\n  \"Tags\": [\"ewaste\", \"E-waste recycling\", \"State of e-waste\", \"e-waste management\"],\n  \"Author\": \"DTE Staff\",\n  \"Published_on\": \"2025-08-23T03:04:00\",\n  \"Figures_URLs\": [\"https://www.downtoearth.org.in/figures/state-of-e-waste-2025\", \"https://www.downtoearth.org.in/figures/state-of-e-waste-2024\"],\n  \"HTML_Code\": \"<html><head><title>State of e-waste: Lethal detritus piling up in India</title></head><body><p>The country has recorded a 147 per cent increase in e-waste generation over the past seven years.</p></body></html>\"\n}"},"type":"@n8n/n8n-nodes-langchain.outputParserStructured","typeVersion":1.3,"position":[-12720,3696],"id":"eef70ee5-958e-4e66-9088-545b64e85e61","name":"Structured Output Parser"},{"parameters":{"options":{}},"type":"@n8n/n8n-nodes-langchain.lmChatOpenRouter","typeVersion":1,"position":[-12848,3696],"id":"dbc513d4-9e4e-46ae-8c8d-20003773d79b","name":"OpenRouter Chat Model","credentials":{"openRouterApi":{"id":"1CvitB8dZyrGSSto","name":"OpenRouter account -Marama"}}}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"HTTP Request","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"HTTP Request":{"main":[[{"node":"AI Agent","type":"main","index":0}]]},"Structured Output Parser":{"ai_outputParser":[[{"node":"AI Agent","type":"ai_outputParser","index":0}]]},"OpenRouter Chat Model":{"ai_languageModel":[[{"node":"AI Agent","type":"ai_languageModel","index":0}]]},"AI Agent":{"main":[[{"node":"Execute Workflow","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-25T13:14:31.000Z"}},"meta":null,"pinData":{"RSS Feed Trigger":[{"json":{"creator":"TOI World Desk","title":"Bumpy skies: How climate change increases air turbulence; it is only set to worsen","link":"https://timesofindia.indiatimes.com/world/us/bumpy-skies-how-climate-change-increases-air-turbulence-it-is-only-set-to-worsen/articleshow/123483237.cms","pubDate":"2025-08-24T15:54:27+05:30","enclosure":{"type":"image/jpeg","url":"https://static.toiimg.com/photo/msid-123483276,imgsize-1001866.cms"},"dc:creator":"TOI World Desk","content":"<img border=\"0\" hspace=\"10\" align=\"left\" style=\"margin-top:3px;margin-right:5px;\" src=\"https://timesofindia.indiatimes.com/photo/123483237.cms\" />","contentSnippet":"","guid":"https://timesofindia.indiatimes.com/world/us/bumpy-skies-how-climate-change-increases-air-turbulence-it-is-only-set-to-worsen/articleshow/123483237.cms","isoDate":"2025-08-24T10:24:27.000Z"}}]},"versionId":"0960cf78-2e08-4c8d-8d7e-c77266f2cbfb","triggerCount":1,"shared":[{"createdAt":"2025-08-23T04:27:09.555Z","updatedAt":"2025-08-23T04:27:09.555Z","role":"workflow:owner","workflowId":"9PAXN71zVvMMHoEO","projectId":"ZESBjGt79se81N5E"}],"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}