[Marama] - Inside Climate News News Scrapper.json
{"createdAt":"2025-07-17T10:55:42.749Z","updatedAt":"2025-07-30T10:53:32.595Z","id":"L1e5d3e44rJNUm96","name":"[Marama] - Inside Climate News News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour"}]},"feedUrl":"https://insideclimatenews.org/feed/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-14288,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json[\"content:encoded\"] }}","WebsiteName":"Inside Climate News","json":"={{ $json }}","priority":5},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-13840,3856],"id":"5f623971-d5cd-4154-8f81-ece77b4aa94f","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-14064,3856],"id":"6ef856e1-fa66-44c0-a664-164fe13ef212","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-03T09:00:00.000Z"}},"meta":null,"pinData":{"RSS Feed Trigger":[{"json":{"creator":"By Dennis Pillion, Lee Hedgepeth","title":"Alabama’s New Utility Commission President Wants to Hear From ‘All Sides’ as She Assumes New Role","link":"https://insideclimatenews.org/news/21072025/alabama-utility-commission-president/","pubDate":"Mon, 21 Jul 2025 09:00:00 +0000","content:encoded":"<span class=\"subtitle\" style=\"color: #6c6c6c;font-size: 1.1rem;line-height: 1.15; font-family: 'Open Sans',sans-serif; margin: 0.75em 0;\">Cynthia Lee Almond spent four years in the Alabama Legislature and 16 years on the Tuscaloosa City Council before being appointed president of the state’s Public Service Commission.</span><p class=\"byline\" style=\"color: #888888; text-transform: uppercase; font-family: 'Open Sans',sans-serif; font-size: 10px; line-height: 12px; margin: 1em 0; font-weight: bold; \">By Dennis Pillion, Lee Hedgepeth</p><p>There aren’t many jobs in Alabama like president of the Public Service Commission.&nbsp;</p>\n","content:encodedSnippet":"Cynthia Lee Almond spent four years in the Alabama Legislature and 16 years on the Tuscaloosa City Council before being appointed president of the state’s Public Service Commission.\nBy Dennis Pillion, Lee Hedgepeth\nThere aren’t many jobs in Alabama like president of the Public Service Commission.","dc:creator":"By Dennis Pillion, Lee Hedgepeth","content":"There aren’t many jobs in Alabama like president of the Public Service Commission.&#160; The state’s chief utility regulator is the head of a three-person council that sets rates and policies for the state’s electric, gas, telecommunications and other utilities. If Alabama Power, the state’s largest electricity provider, wants to raise rates or build a new [&#8230;]","contentSnippet":"There aren’t many jobs in Alabama like president of the Public Service Commission.  The state’s chief utility regulator is the head of a three-person council that sets rates and policies for the state’s electric, gas, telecommunications and other utilities. If Alabama Power, the state’s largest electricity provider, wants to raise rates or build a new […]","guid":"https://insideclimatenews.org/?p=97287","categories":["Politics","Alabama","Alabama Governor","Alabama Power","Alabama Public Service Commission","Cynthia Lee Almond","Kay Ivey","Twinkle Cavanaugh","utilities"],"isoDate":"2025-07-21T09:00:00.000Z"}},{"json":{"creator":"By Anika Jane Beamer","title":"Iowa Agriculture Runs on 110 Billion Pounds of Manure, at a Cost to Its Water","link":"https://insideclimatenews.org/news/21072025/iowa-agriculture-manure-water-quality/","pubDate":"Mon, 21 Jul 2025 08:55:00 +0000","content:encoded":"<span class=\"subtitle\" style=\"color: #6c6c6c;font-size: 1.1rem;line-height: 1.15; font-family: 'Open Sans',sans-serif; margin: 0.75em 0;\">In the nation’s leading pork-producing state, animal waste fuels crop growth but impairs water quality in a leaky circular system.</span><p class=\"byline\" style=\"color: #888888; text-transform: uppercase; font-family: 'Open Sans',sans-serif; font-size: 10px; line-height: 12px; margin: 1em 0; font-weight: bold; \">By Anika Jane Beamer</p><p>During planting season in Iowa, Landon Plagge’s fields reek. Sour and earthy, almost like rotten eggs and fermenting hay, the scent repels the unacquainted nose. But Plagge is unbothered.</p>\n","content:encodedSnippet":"In the nation’s leading pork-producing state, animal waste fuels crop growth but impairs water quality in a leaky circular system.\nBy Anika Jane Beamer\nDuring planting season in Iowa, Landon Plagge’s fields reek. Sour and earthy, almost like rotten eggs and fermenting hay, the scent repels the unacquainted nose. But Plagge is unbothered.","dc:creator":"By Anika Jane Beamer","content":"During planting season in Iowa, Landon Plagge’s fields reek. Sour and earthy, almost like rotten eggs and fermenting hay, the scent repels the unacquainted nose. But Plagge is unbothered. “I’m used to it,” he said, laughing. “I’m immersed in shit, I guess.” In addition to the soy, corn, oats and rye he grows on his [&#8230;]","contentSnippet":"During planting season in Iowa, Landon Plagge’s fields reek. Sour and earthy, almost like rotten eggs and fermenting hay, the scent repels the unacquainted nose. But Plagge is unbothered. “I’m used to it,” he said, laughing. “I’m immersed in shit, I guess.” In addition to the soy, corn, oats and rye he grows on his […]","guid":"https://insideclimatenews.org/?p=97284","categories":["Science","Agricultural Waste","Agriculture","cattle","chickens","cows","Crops","farm","Farmers","farming","Farms","hog farms","hogs","Iowa","Livestock","livestock industry","manure","poultry","poultry farming","poultry farms","water","water contamination","water pollution","Water Quality"],"isoDate":"2025-07-21T08:55:00.000Z"}}]},"versionId":"7cb9eae9-71b0-4e8a-89e8-7a65897e3081","triggerCount":1,"tags":[{"createdAt":"2025-07-12T00:42:54.550Z","updatedAt":"2025-07-12T00:42:54.550Z","id":"XwixVs7C5amZUDVM","name":"Marama"}]}