[Marama] - Galapagos News Scrapper.json
{"createdAt":"2025-08-31T02:38:19.078Z","updatedAt":"2025-08-31T02:42:55.844Z","id":"7zajJy8rPdFZ1toa","name":"[Marama] - Galapagos News Scrapper","active":true,"isArchived":false,"nodes":[{"parameters":{"pollTimes":{"item":[{"mode":"everyHour","minute":40}]},"feedUrl":"https://www.galapagos.org/newsroom/feed/"},"type":"n8n-nodes-base.rssFeedReadTrigger","typeVersion":1,"position":[-13520,3856],"id":"9d0a7c4c-eb1f-4417-80b4-9d70f491e6d4","name":"RSS Feed Trigger"},{"parameters":{"workflowId":{"__rl":true,"value":"iR3f2ACi161PfQjP","mode":"list","cachedResultName":"[Marama] News-feeder"},"workflowInputs":{"mappingMode":"defineBelow","value":{"Content":"={{ $json.contentSnippet }}","ContentHTML":"={{ $json.content }}","json":"={{ $json }}","WebsiteName":"Galapagos","priority":1},"matchingColumns":[],"schema":[{"id":"Content","displayName":"Content","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"ContentHTML","displayName":"ContentHTML","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"WebsiteName","displayName":"WebsiteName","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"json","displayName":"json","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true},{"id":"priority","displayName":"priority","required":false,"defaultMatch":false,"display":true,"canBeUsedToMatch":true,"type":"number","removed":false}],"attemptToConvertTypes":false,"convertFieldsToString":true},"options":{}},"type":"n8n-nodes-base.executeWorkflow","typeVersion":1.2,"position":[-12992,3888],"id":"077b679f-0c53-49a8-8137-9450f7b596cb","name":"Execute Workflow"},{"parameters":{"options":{}},"type":"n8n-nodes-base.splitInBatches","typeVersion":3,"position":[-13312,3856],"id":"c504e205-4238-4054-a4d9-a0aaf7080d47","name":"Loop Over Items"}],"connections":{"RSS Feed Trigger":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]},"Loop Over Items":{"main":[[],[{"node":"Execute Workflow","type":"main","index":0}]]},"Execute Workflow":{"main":[[{"node":"Loop Over Items","type":"main","index":0}]]}},"settings":{"executionOrder":"v1"},"staticData":{"node:RSS Feed Trigger":{"lastItemDate":"2025-08-28T18:44:30.000Z"}},"meta":null,"pinData":{},"versionId":"2cd993a6-b43c-4acf-8408-9068d8339bdc","triggerCount":1,"shared":[{"createdAt":"2025-08-31T02:38:19.078Z","updatedAt":"2025-08-31T02:38:19.078Z","role":"workflow:owner","workflowId":"7zajJy8rPdFZ1toa","projectId":"ZESBjGt79se81N5E"}],"tags":[]}